[2015-09-05 17:43] scrudden opened #4 "Onejar not working correctly with Amazon"

[2015-09-05 18:24] scrudden commented on #4
Have changed this to use the maven shade plugin.

Perhaps at this point it would be best have consistency between the main java class names and the jar file names, so have changed these also.

[2015-09-05 18:26] scrudden commented on #4
I do not have a AWS instance so will need to revert to Mike to test the issue caused by onejar no longer exists.

[2015-09-23 17:46] scrudden commented on #4
Fixed in https://github.com/Transitime/core/pull/20. Mike confirmed.

[2015-09-23 17:46] #4 closed

[2017-04-17 17:56] mateoclarke opened #5 "Shutting down instances running on Open Austin AWS"
Hi @scrudden,

Our hosting with CfA is being audited and we found that our biggest charges are coming from old transitime instances that @luqmaan helped set up.

We need to shut down these instances but I didn't want to catch you off guard. Tried msg'ing you through Slack so hoping this reaches you.

![pasted image at 2017_04_15 06_18 pm](https://cloud.githubusercontent.com/assets/5697474/25098200

[2017-04-17 18:25] scrudden commented on #5
Hi Mateo,

Go ahead and remove them. I am not using them.

Thanks,

Sean.

[2017-04-17 19:35] #5 closed, assigned to nobody

[2017-07-19 12:07] changtung opened #6 "couple new reports."
Hello i have question regarding transitime
the VIA branch has many classes modified in comparision to master transitime branch. Hence we were using master recently, we had scheduleAdherenceByStop report there. Currently in VIA branch, we want to have these reports too.
I tried to add some modules to config from previous app and i don't know where these reports reside. if that is plugin or what wou

[2017-07-21 20:29] scrudden commented on #6
If I understand the question correctly the solution is for master and VIA branch to be merged. But in doing this we would need to test to make sure all functionality is still working correctly and there is no negative effect on the quality of predictions.

[2017-07-21 21:28] changtung commented on #6
I saw that interesting report are in other version which in jsp files has
select statements but after merge it returns null in some type casting. Ill
update later and ill ty to provide third party code. Adding branch to my
github should be fine i guess.

21.07.2017 22:30 "Sean Óg Crudden" <notifications@github.com> napisał(a):

[2017-09-08 11:19] changtung commented on #6
Can i help somehow with testing VIA to go to core ? What kind of tests that should be, how to move forward with this?

[2017-09-08 16:29] scrudden commented on #6
Hi,

I have created a project to regression test the UI [here](https://github.com/scrudden/transitimeWebappRegression). It does not yet cover all reports or screens. You could add some tests to this which would be a great help.

Cheers,
Sean.

[2017-09-27 18:16] scrudden opened #10 "Add graph to show stop sequence against arrival time."
This is to show a graph that will show up missing arrivals and departures. This is useful for debugging issues with temporal and spatial matching.

[2017-09-27 18:21] scrudden commented on #10
The UI should allow the user select a start time ,an end time and vehicle.

[2017-09-27 18:22] scrudden commented on #10
The stop sequence should be on the y axis and the arrival time on the x axis.

[2017-10-21 17:38] scrudden opened #11 "Add page to show contents of table vehicleevents for a vehicle for a time period."

[2017-10-21 17:44] scrudden commented on #10
Picture or parameters page
![image](https://user-images.githubusercontent.com/6191822/31854346-8c509694-b68f-11e7-8c99-851efbc82e89.png)

Picture of graph

![image](https://user-images.githubusercontent.com/6191822/31854371-da8c0a78-b68f-11e7-8a98-0f24c8f008e0.png)

[2017-10-21 17:46] scrudden commented on #10
Code on this branch [https://github.com/TheTransitClock/transitime/tree/issue_10](url)

[2017-10-21 17:55] scrudden opened #12 "Integrate barefoot"
Integrate [barefoot](https://github.com/bmwcarit/barefoot) to do map matching of avl reports.

This will snap AVL reports to transit routes as defined in the shapes.txt file in the GTFS.

There are a number of steps required to achieve this.

1. Create a barefoot map based on the GTFS shapes.txt file.
2. Set up a barefoot tracker server using the map produced.
3. Have transiTime core provide AVL u

[2017-10-21 17:56] scrudden commented on #12
Code that does this in on branch [barefoot](https://github.com/TheTransitClock/transitime/tree/barefoot).

[2017-10-21 18:00] scrudden commented on #12
GTFSFileProcessor has a new command line option to allow you instruct it to create a barefoot map and the location where to put the map. The parameter is "barefoot" and it should be followed by the file location to place the map.

[2017-10-21 18:06] scrudden commented on #12
This parameter sets which map matcher to use. The only one is barefoot for the moment but we could introduce others.
[code]
To not use map matching set this config value to blank in the transitime config file.

[2017-10-21 18:10] scrudden commented on #12
It currently expects the tracker server to run on the same machine as core. You can change the port to talk to the barefoot tracker server using this config value

[code]
This can be set in the transitime config file.

[2017-10-22 18:18] scrudden commented on #11
First draft.

![image](https://user-images.githubusercontent.com/6191822/31864914-ba94af30-b75d-11e7-8084-7190cc5a910e.png)

[2017-10-22 18:19] scrudden commented on #11
Only parameter is vehicleId so far. Need to add date of some sort.

[2017-10-22 18:20] scrudden commented on #11
Code is on this [branch](https://github.com/TheTransitClock/transitime/tree/tc_issue_11).

[2017-10-24 17:48] scrudden commented on #12
Might be good to store adjusted avl and display it with the original position on avlMap.

[2017-11-05 16:48] scrudden opened #13 "Coefficient of variation of headway graph (real-time and historical)"
Create a graph which shows the coefficient of variation of headway in real-time for a route. This is the measure which can be used to look at the stability of a route.

[2017-11-05 16:58] scrudden commented on #13
They system current calculates the headway of a vehicle when it arrives at a stop and then used this value along with the headway of all other vehicles to calculate to the coefficient of variation. These values are stored in Headway table. They are being set in
[code]
This class needs to only included headway's for the current route in the calculation of the coefficient of variation. For Dynamic t

[2017-11-05 17:01] scrudden commented on #13
This will require two graphs one for real-time and one based on a start and end time.

[2017-11-05 17:17] scrudden commented on #13
Code is on this branch. [https://github.com/TheTransitClock/transitime/tree/tc_issue_13](https://github.com/TheTransitClock/transitime/tree/tc_issue_13)

[2017-11-05 17:23] scrudden opened #14 "Add front end for resetVehicle api call."
resetVehicle is an API call added during the implementation of DynamicTime for when we would see that a vehicle was assigned to the wrong segment. The most noticeable symptom was the arrow for direction would be pointing in the wrong direction.

A call to this makes the vehicle unpredictable and the system will then reassign correctly.

This call takes a single parameter "v" which is the vehicle i

[2017-11-09 14:04] changtung opened #15 "transitimeDocker postgresql version"
In transitimeDocker, latest version of postgresql is not working when running go.sh.
In go.sh there is command `docker run --name transitime-db -e POSTGRES_PASSWORD=$PGPASSWORD -d postgres`
i needed to change it to:
`docker run --name transitime-db -e POSTGRES_PASSWORD=$PGPASSWORD -d postgres:9.6.3`

It is because new version of postgres is 10.x and it turns out that it's not compatible with curre

[2017-11-09 17:33] scrudden commented on #15
Fix added to master branch.

https://github.com/TheTransitClock/transitimeDocker/commit/352da400af461559b37d96c7e35a9c665c537f92

Will need to change in all other branches.

[2017-11-09 18:23] scrudden commented on #14
It would be good to change this API call to also record an VehicleEvent to say that the vehicle was made unpredictable via the API.

[2017-11-10 11:21] changtung commented on #14
I see recording vehicleEvent in line 118 in CommandsServer.java.
`		VehicleEvent.create(avlReport, lastMatch, vehicleEvent,
				eventDescription, false, // predictable
				wasPredictable, // becameUnpredictable
				null); // supervisor`
I see that in resetVehicle call there is call to setVehicleUnpredictable from CommandServer, so the code above is beeing run.
So is there need to implement it?

[2017-11-10 17:02] scrudden commented on #14
It is there already so there is no need to implement.

[2017-11-10 17:37] scrudden commented on #14
Being worked on in this pull request.

https://github.com/TheTransitClock/transitime/pull/16

[2017-11-12 21:03] scrudden commented on #13
Now records number of vehicles on route as well as number with headway set in vehiclestate.

[2017-11-16 10:42] changtung opened #17 "Translation two languages into config files or translate adhoc in branch"
I am up to translate latest reports to polish. I can do this by translating just reports folder and create another branch with polish translation. In the other hand how do You think about creating yml or something files and push all texts strings into and create polish/english version in config file? Would be that useful to transitime ?Then You can add other languages translation into yml files. I

[2017-11-16 17:36] scrudden commented on #17
A config file for languages would be useful. What format would you suggest?

[2017-11-16 17:38] changtung commented on #17
I dont have format precised. Ill check for solutions.

16.11.2017 18:36 "Sean Óg Crudden" <notifications@github.com> napisał(a):

A config file for languages would be useful. What format would you suggest?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/TheTransitClock/transitime/issues/17#issuecomment-344999741>,
or mu

[2017-11-16 17:39] scrudden commented on #13
![image](https://user-images.githubusercontent.com/6191822/32906447-d1438378-caf4-11e7-8706-43c5120b5cb7.png)

First go at this. Need to smooth. It only plots values that where generated when each vehicle on the route has a valid headway.

[2017-11-16 17:42] scrudden opened #18 "Plot the headway at a single selected stop over a period of time."
Going to plot a distribution of headways at a selected stop over a period of time.

[2017-11-19 14:57] scrudden commented on #14
merged into VIA branch

[2017-11-26 11:50] scrudden commented on #11
Branch merged to VIA branch.

[2017-11-26 11:50] #11 closed, assigned to nobody

[2017-11-26 12:18] #14 closed, assigned to changtung

[2017-11-26 12:27] scrudden commented on #15
Have changed in all branches of transiTimeDocker.

[2017-11-26 12:27] #15 closed, assigned to nobody

[2017-11-26 12:33] scrudden opened #20 "Use jcs cache instead of ehcache for caching arrival and departures."
Want to use [JCS](https://commons.apache.org/proper/commons-jcs/) cache as it will reload cache on restart by itself. This is only an option with the paid version of [ehcache](http://www.ehcache.org/) and resulted in having to load data from database directly on startup.

Have tried with Kalman error values and works well so now want to use it for all other cached items.

[2017-11-26 12:51] scrudden commented on #18
Being worked on on [tc_issue_13](https://github.com/TheTransitClock/transitime/tree/tc_issue_13) branch as it is also presenting headway data.

[2017-11-26 14:43] scrudden commented on #13
This is a smoothed version running this sql. It uses a running average (1800 seconds) and takes a sample every 10 minutes.

[code]
![image](https://user-images.githubusercontent.com/6191822/33240972-55c31432-d2b7-11e7-9146-4919d78b3250.png)

[2017-11-26 15:10] scrudden opened #21 "Merge code used in WMATA"
Pull request started [here](https://github.com/TheTransitClock/transitime/pull/9) for this.

[2017-11-28 17:31] scrudden commented on #13
Revised based on comments from @simonberrebi. Now goes to two decimal places and using a line.

![image](https://user-images.githubusercontent.com/6191822/33334304-50b38d68-d461-11e7-8671-6a4194a5b9a5.png)

[2017-12-12 19:01] scrudden commented on #6
@pacior Reports are in VIA branch now so can I close this?

[2017-12-12 22:26] changtung commented on #6
Yes

12.12.2017 20:01 "Sean Óg Crudden" <notifications@github.com> napisał(a):

[2017-12-13 17:46] #6 closed, assigned to nobody

[2017-12-29 12:14] changtung opened #22 "Problem with tomcat connecting to postgresql ?"
Hi, I have problem with transitime instance. one works on port 8097, which has code from same branch, use different databases. tomcat version is same. recently i created new database. i have error, connection attempt failed on transitime web . is it possible that jar is connecting succesfully to postgres ,tomcat no and i can connect locally through 127.0.0.1 ( not localhost ) .
So one instance on

[2017-12-30 13:54] scrudden commented on #22
Hi,

I am not sure I understand your setup. Can you first detail how you have
set up the database for each transiTime instance?

Cheers.

Sean.

On Fri, Dec 29, 2017 at 12:14 PM, pacior <notifications@github.com> wrote:

[2018-01-06 18:30] scrudden commented on #22
@pacior  Can this issue be closed?

[2018-01-06 18:53] scrudden opened #23 "Change transitime package names to transitclock"
As part of the re-brand change the package name from org,transitime to org.transitclock.

This will have knock on changes to the config file/variable names and also to the web application.

[2018-01-06 20:00] scrudden commented on #17
@pacior I understand you have done some work on this. Could you add a short update here?

[2018-01-08 12:43] changtung commented on #22
I think yes. We avoided this problem by setting instance on another database port. However problem exist in our infrastructure as a bug.

[2018-01-08 12:46] changtung commented on #17
In main/resources there are langugae config files. There are symbols and names. each file corresponds to each language. For polish, you need to use native2ascii java tool to convert to utf-8. In jsp it's translated by importing fmt library. for example in includes.jsp section. Then by using fmt. Still the issue is where is hybrid language - jsp and javascript - i need there to find out how to conn

[2018-01-09 18:08] scrudden commented on #21
This has been merged into the **develop** branch. This branch now has the different forks merged.

The original pull request was to the VIA branch. These are now merged to the **develop** branch. So I will close. Any issues resulting from the merge I will raise as new issues.

[2018-01-09 18:08] #21 closed, assigned to nobody

[2018-01-10 19:47] scrudden opened #26 "UpdateTravelTimes failing on develop branch."

[2018-01-12 14:00] changtung opened #27 "Problem with translating sch*Chart.jsp"
In files patterned sch*Chart i have problem translating these three or four files.
There is mixed jsp and javascript in these files for cuple variables.
For example in schAdhByRouteChart in line 55 there is:

  	+ allowableLate + " min late</br>"

I want to translate string "min early to" to fmt.
I made c:set wrapped with this a fmt message. I tried using jsp in javascript but don't have idea how

[2018-01-12 14:00] changtung opened #28 "How to make transitime password accessible"
How to force users to enter credentials in order to log in to transitime? Is there any module with this ?

[2018-01-12 17:05] scrudden commented on #28
You can do this with tomcat configuration.

For basic authentication have a look at

[http://wiki.metawerx.net/wiki/SecuringYourSiteWithContainerManagedSecurity](http://wiki.metawerx.net/wiki/SecuringYourSiteWithContainerManagedSecurity)

[2018-01-12 17:11] scrudden commented on #27
I have a setup similar to this [https://www.mkyong.com/java/how-to-convert-java-project-to-web-project-in-eclipse/](https://www.mkyong.com/java/how-to-convert-java-project-to-web-project-in-eclipse/) in eclipse.

This server options need the j2ee extensions installed in eclipse.

[https://stackoverflow.com/questions/7170694/installing-j2ee-into-existing-eclipse-ide](https://stackoverflow.com/quest

[2018-01-15 10:50] changtung opened #29 "Unexpected match ( prediction )"
On basic data, i have prediction for device id 5089.
On map it stops and gps data is always same latitude and longtitude. Transitime guesses prediction of this device and assign it a route. Below are logs where it take place.

10:35:01.082 For vehicleId=5089 the original arrival time for waitStop stopId=54 is 01-15-2018 11:34:48.000 CET
10:35:01.082 For vehicleId=5089 adjusted the arrival time for

[2018-01-15 18:46] scrudden commented on #29
Sorry, but I do not understand the issue/question. Can you give more detail?

[2018-01-15 18:50] changtung commented on #29
Transitime assigns trip to a vehicle not correct one.
If there are two vehicles and one is stopping, second drives to a point where it starts, transitime assigns trip for the one that is stopping, not the one that goes that trip. Is there param for prediction approximation? param to change approximation from 40 to 20 mins for example?

[2018-01-15 19:50] scrudden commented on #29
In **_org.transitime.core.autoAssigner.AutoBlockAssigner_** there are some config values that might help.

Perhaps this one would help in this situation.

[code]

[2018-01-18 10:56] changtung commented on #29
I changed value to 200 and then 2000 and both have still this error.
Which Api call can i use to unassign vehicle ? What are url and params of this api call?

[2018-01-18 17:06] scrudden commented on #29
This issue (#14) has the detail on how to unassign a vehicle  .

[2018-01-19 12:06] changtung commented on #14
ok, thank You:)

[2018-01-19 17:05] scrudden commented on #29
These two parameters may help have the vehicle that is not moving be unassigned automatically.
[code]

[2018-01-20 15:55] scrudden commented on #26
In the recent merge a new readOnly parameter was added to this method which added "-ro" to the database name if this parameter is set to true.

This was being called by the UpdateTravelTimes and causing a NPE.

[code]

This database does not exist by default. I am not sure how or where this "-ro" database is to be created.

[code]

[2018-01-20 15:56] scrudden commented on #26
Setting this parameter to false for all calls stops the NPE from occurring when running UpdateTravelTimes.

[2018-01-20 16:24] scrudden commented on #26
Fix done in branch tc_issue_24 and merged.

[2018-01-20 16:24] #26 closed, assigned to nobody

[2018-01-20 16:49] scrudden opened #31 "Remove eclipse files"
It is intended only to have maven build files. Eclipse files should not be checked in.

[2018-01-20 16:49] scrudden commented on #31
There are some of these on the develop branch which I will remove.

[2018-01-20 18:15] scrudden opened #32 "Schedule adherence reports not showing"
The following options are not appearing on the report screen on the develop branch.

Schedule Adherence by Route
Schedule Adherence by Stop
Schedule Adherence by how Early/Late

[2018-01-20 19:05] #32 closed, assigned to nobody

[2018-01-21 14:43] scrudden opened #34 "Set version numbers in maven pom files."
Will start at version 2.0.0-SNAPSHOT for the rebrand from transiTime to TheTransitClock.

This new version will be started on the "develop" branch.

Would be nice to use maven to update numbers for new versions.

[2018-01-21 15:41] scrudden commented on #34
Renamed modules as well. Will also change sub-directories names to match.

[2018-01-21 16:28] scrudden opened #35 "AVL in map screen does not work in quickstart mode."
No suitable driver available message appears for the jdbc connection.

[2018-01-22 18:34] scrudden commented on #31
.gitignore files where corrupted in merge. Need to fix when resolving this issue.

[2018-01-23 18:31] scrudden commented on #34
Also changed transitclockDocker to match this rebrand. This is done on https://github.com/TheTransitClock/transitclockDocker/tree/prediction_comparison_hart.

[2018-01-29 19:38] scrudden opened #37 "transitime property names need to be change to transitclock"
As part of re-brand change all property names to start with transitclock. rather then transitime.

[2018-01-29 19:51] scrudden opened #38 "Duplicate prediction being displayed"
On branch tc_issue_23 there are duplicate predictions being displayed. This seems to have been introduced with the merge.
![image](https://user-images.githubusercontent.com/6191822/35530992-9f94475e-052d-11e8-9b9e-5af522a67391.png)

[2018-01-29 19:51] scrudden commented on #38
Should be fixed on new issue branch.

[2018-01-30 19:14] scrudden commented on #38
Fix prepared on branch tc_issue_38.

[2018-01-30 19:23] #38 closed, assigned to nobody

[2018-02-03 12:52] scrudden opened #42 "transitclockIntegration tests failing on develop branch."
Junit test PredictionAccuracyIntegrationTest is failing.

[2018-02-03 12:55] scrudden commented on #42
No active calendars is causing a problem. Have changed calendar dates in sample files and has not resolved. Seems as if calendar entries have not been saved in database before test run.

[2018-02-03 16:40] scrudden commented on #37
Done on #41

[2018-02-03 16:40] #37 closed, assigned to nobody

[2018-02-03 16:44] scrudden commented on #23
Done in #39

[2018-02-03 16:44] #23 closed, assigned to nobody

[2018-02-03 16:46] scrudden commented on #22
As per comment from @pacior closing issue.

[2018-02-03 16:46] #22 closed, assigned to nobody

[2018-02-03 16:48] scrudden commented on #29
@pacior Can this issue be closed?

[2018-02-06 21:47] scrudden commented on #31
Fixed by #43

[2018-02-06 21:47] #31 closed, assigned to nobody

[2018-02-06 21:51] scrudden opened #44 "Update README docs to use new name."
Change mentions of transiTime to TheTransitClock in the README files.

[2018-02-07 17:46] scrudden opened #45 "Graph to show predicted travel time or dwell time for a stop path over time."
![image](https://user-images.githubusercontent.com/6191822/35932031-7ac8b948-0c2e-11e8-920f-c26d50dca522.png)

This sample shows TheTransitClock homing in on a value for a travel time.

[2018-02-07 17:51] scrudden opened #46 "Add traccar integration"
@pacior has integrated with [traccar](http://www.traccar.org) on his fork. This module would be a nice addition to the TheTransitClock.

[2018-02-08 18:35] scrudden commented on #46
Have worked on this on branch tc_issue_46.

I used the swagger file supplied with traccar to generate the client code and used that to create a transitclock avl module.

The client code is generated by a maven plugin.

[2018-02-12 21:08] scrudden commented on #46
Pull request #47

[2018-02-12 21:09] scrudden commented on #12
Pull request #48

[2018-03-18 14:47] marzena92 opened #49 "Work as a tester"
Hi!
I will eagarly do a job as a tester in a project transitime.
Regards

[2018-03-18 14:54] changtung commented on #49
Sean, marzena92 is a person I recommend 100%. I am curious what could be her first testing task.

[2018-03-18 15:04] scrudden commented on #49
@marzena92
Thanks for the interest. It is very welcome.

@pacior This may need a quick call to get started. Perhaps a hangout next week?

Before then just setting up an example system locally may be a good start.

[2018-04-26 16:57] nselikoff opened #50 "Active blocks and vehicle assignments for stops with different arrival and departure times"
I'm working with a GTFS static feed whose first two stops are at train stations where the vehicle waits for ~15 minutes before departing. One of these stops is the first stop of the trip. Also, it's a continuous loop (same block ID throughout the day, first and last stops are the same, and departure_time of the last stop == arrival_time of the first stop of the subsequent trip.

For real-time, I'm

[2018-04-26 17:33] scrudden commented on #50
Hi Nathan,

Can you see entries in the vehicle event table for item 2?

Also, have you got debug logging on and can you find the detail of the same event in these log files. If I could see your logback configuration I could point you at which file to look at.

Cheers,

Sean.

[2018-04-26 17:59] nselikoff commented on #50
Hi Sean, thanks for the quick reply. I think I'm using default logging (I'm not specifying a logback.xml), which I guess would be https://github.com/TheTransitClock/transitime/blob/develop/transitclock/src/main/resources/logback.xml or https://github.com/TheTransitClock/transitime/blob/develop/transitclock/src/main/resources/logbackDefault.xml ? I've got quite a few log files being created and use

[2018-04-26 18:46] nselikoff commented on #50
@scrudden actually it looks like a few things are going on. Here are some of the vehicle event entries:

[code]

I'm not sure where the 15.5 min early schedule adherence is coming from. That's basically right after the vehicle leaves the station. Similar pattern an hour later, though it's 43.2 min for some reason.

Then at the very end of the 1200 trip, it incorrectly matches to the 1300 trip befo

[2018-04-26 19:45] scrudden commented on #50
The logback config file you are using is https://github.com/TheTransitClock/transitime/blob/develop/transitclock/src/main/resources/logback.xml.

Thought so far. It keeps auto assigning to the 1200 trip and then checks schedule adherence using that trip and as it has gone past acceptable limits in each case it marks it as unpredictable.

So the problem is that it is not assigning it to the correct

[2018-04-26 19:52] nselikoff commented on #50
arrivalDeparture.log
autoAssigner.log
avl.log
cache.log
core.log
externalPredAccuracy.log
frequency.log
match.log
matcher.log
monitoring.log
predAccuracy.log
prediction.log
vehicleEvents.log

[2018-04-26 19:56] scrudden commented on #50
In logback.xml can you change these two entries
[code]
to level="debug" like this

[code]

This should give some decent info in the matcher.log file relating to the problem.

[2018-04-26 20:16] nselikoff commented on #50
Thank you, I've got that updated and will keep an eye on matcher.log.

[2018-04-26 22:35] nselikoff commented on #50
Found at least one of the issues... timezone mismatch. I hate timezones and daylight savings time LOL. I'm borrowing some of the scripts from the `transitclockDocker` project, which has the user.timezone set to EST (a non- daylight savings time sensitive value). So I was getting an hour off between the agency timezone and some other part of the system that was using the default time zone.

[2018-04-27 11:55] nselikoff commented on #50
Dug in a bit more to item 1. In [BlocksProcessor](https://github.com/TheTransitClock/transitime/blob/develop/transitclock/src/main/java/org/transitclock/gtfs/BlocksProcessor.java#L225), block start time is set as first trip start time, which is set as *departure* time of the first stop time. But the GTFS static spec notes that if the stop_time is a timepoint, which it is in the case of this feed,

[2018-04-27 16:39] scrudden commented on #50
Hi Nathan,

What modules have you configured to run in your transitclockConfig.xml file?

I think using the [org.transitclock.core.schedBasedPreds.SchedBasedPredsModule](https://github.com/TheTransitClock/transitime/blob/develop/transitclock/src/main/java/org/transitclock/core/schedBasedPreds/SchedBasedPredsModule.java) module will help with item 1.

Cheers,

Sean.

[2018-04-27 17:10] nselikoff commented on #50
GtfsRealtimeModule and PredictionAccuracyModule. I will try out SchedBasedPredsModule.

[2018-04-28 16:31] nselikoff commented on #50
With SchedBasedPredsModule and adjustments to some of its config params, I'm able to get predictions right away in the 12-12:15 window before the block becomes active. And even though the vehicle remains unassigned until a little after 12:15, it still shows up in the GTFS Realtime vehicle positions feed, which is good. This is a great start, thanks so much for the help!

[2018-04-28 16:31] #50 closed, assigned to nobody

[2018-05-09 21:41] nselikoff opened #51 "Recommended schedule for running UpdateTravelTimes"
Based on looking at https://github.com/open-austin/transitime-docker/issues/3 I can see how to run UpdateTravelTimes, and that it can take either one date (interpreted as start and end) or two separate start and end dates.

What's the recommended schedule for running UpdateTravelTimes, and do you typically run for one day or over a span of days?

[2018-05-10 16:36] scrudden commented on #51
Hi Nathan,

This is a good question.

The result I believe you are looking for is the best quality predictions and the answer to what gives this is not so simple and can be dependent on the characteristics of the route you are working with.

If you do not run UpdateTravelTimes the default prediction implementation (PredictionGeneratorDefaultImpl) will use a sum of scheduled travel times and schedu

[2018-05-10 18:56] nselikoff commented on #51
Thanks for the explanation @scrudden - that is indeed the result I'm looking for. Is there a rule of thumb in your experience when it comes to "enough sample data" to get to statistical significance? For example, I'm working with a route right now that is very sparse... there are only 23 trips a week.

[2018-05-11 17:22] scrudden commented on #51
Without knowing the schedule I would guess perhaps 20 independent sets of data for each trip_id. If you work up to this you will see the values used for each stop path travel time level off and at that point you should have enough.

[2018-05-14 18:11] scrudden commented on #51
@nselikoff Can this issue be closed?

[2018-05-14 18:17] nselikoff commented on #51
Yes, thanks for the additional guidance @scrudden

[2018-05-18 21:52] nselikoff opened #52 "expectedTravelTimeMsec in TemporalMatcher is zero (0)"
I'm getting some unexpected matching results, and I think I've traced it back to `expectedTravelTimeMsec` being 0. Can you tell me about this block of code (l398 - 412)?

https://github.com/TheTransitClock/transitime/blob/7bdca846d99dbf0d5b7075dd2b82daeaa63490de/transitclock/src/main/java/org/transitclock/core/TemporalMatcher.java#L398-L412

What's the goal with searching forward and backward? `ex

[2018-05-19 15:25] scrudden commented on #52
HI Nathan,

I have been looking back at the history of this change and from what I can see it is a change I made while implementing arrival predictions for frequency based services. I think it relates to the fact the expectedTravelTimeBetweenMatches return 0 if the stops are in a decreasing sequence. The stops can be in a decreasing sequence for frequency based services, so the expected travel tim

[2018-05-19 15:38] scrudden commented on #52
Could you provide an AVL sample and matching GTFS file that demonstrates the issue you are seeing?

[2018-05-19 15:48] nselikoff commented on #52
Hi Sean,

Thanks for looking at this. When I revert to the old way this was implemented (essentially just looking "forward"), the matching and arrival/departure generation works much better. These are the feeds I'm working with (schedule based service):

GTFS Static: https://data.omnimodal.io/gtfs/sanfordcommunity-fl-us/sanfordcommunity-fl-us.zip
GTFS Realtime (raw vehicle positions): https://magp

[2018-05-19 15:55] scrudden commented on #52
@nselikoff Can you raise this side question as a new issue and I will detail. As others may be interested and it will be easier for them to find it if it is an issue on its own.

[2018-05-19 16:00] nselikoff commented on #52
Absolutely, good call @scrudden

[2018-05-19 16:03] nselikoff opened #53 "How to capture an AVL sample and use it for testing and batch processing?"
When setting up TheTransitClock for a new agency, there's so many options when it comes to configuration. And since we're dealing with real-time data it can be hard to tweak the config and see the effects efficiently.

What's the best way to capture an AVL sample (e.g. from a GTFS Realtime vehicle positions feed) and then using it for testing and batch processing in TheTransitClock? I see some are

[2018-05-19 16:29] scrudden commented on #53
Hi Nathan,

The basics of this is to use the PlaybackModule module. You configure this to run in the transitclock config file like any other module.

This has a number of options, including **playbackStartTime** and **playbackEndTime** so you can focus on the particular event you are looking at.

I also added an option **playbackRealtime** which if set to true will run at normal time speed, but if

[2018-05-19 16:31] nselikoff opened #54 "Create github pages project site"
In the old parent repo of transitime, the github pages site was set up to include the javadocs. This repo still has a `gh-pages` branch set up: https://github.com/TheTransitClock/transitime/tree/gh-pages

It would be great to set up a project site for this repo, and link to it from the main github pages site for TheTransitClock org. Ideally we can also set up something to automate updating the doc

[2018-05-19 16:54] scrudden commented on #54
I think the first step to this is to have maven configured to generate the javadocs.

[2018-05-19 16:55] scrudden opened #55 "Swagger file for API"
A Swagger file for the API would be useful for others.

[2018-05-19 17:16] nselikoff commented on #53
Thanks for the rundown @scrudden! This is definitely enough for me to get started.

[2018-05-22 00:44] nselikoff commented on #53
@scrudden have you used the PlaybackModule in conjunction with the autoAssigner before? When I run playback of a feed without block assignments, the autoAssigner uses the currently active blocks, not the blocks that would have been active at the time the AVL records were recorded. For example, it's Monday and I'm playing back data from Friday, but it's getting assigned to Monday's block and trips.

[2018-05-28 17:36] scrudden commented on #53
This is an issue. We will need to create a test to cover this and then fix. I will raise a new issue for this.

[2018-05-28 17:37] scrudden opened #56 "PlaybackModule run in conjunction with the autoAssigner not selecting correct blocks."

[2018-05-28 17:40] scrudden commented on #56
Will attempt to add a test to transitclock-integration to cover this.

[2018-05-29 15:34] #53 closed, assigned to nobody

[2018-06-19 18:45] vsperez opened #63 "GTFS Realtime trip-update correction"
- stop_time_update entries should be sorted by sequence
- stop_time_update entries should specify relationship SCHEDULE when arrival_time or departure_time is specified

[2018-06-21 20:32] #63 closed, assigned to nobody

[2018-06-23 20:55] scrudden commented on #56
I have found the cause of this.

https://github.com/TheTransitClock/transitime/blob/c920d8acf93d4b7ca4de7fb0722eb7feb70b96a5/transitclock/src/main/java/org/transitclock/core/ServiceUtils.java#L189-L196

This method returns the start of the current day rather than the start of the day from the Date passed in.

This was resulting in a list of services being considered being for today rather then day

[2018-06-25 16:42] scrudden commented on #53
https://github.com/TheTransitClock/transitime/issues/56

[2018-06-26 18:21] scrudden commented on #56
fixed in pull request #65

[2018-06-26 18:21] #56 closed, assigned to nobody

[2018-06-26 18:34] scrudden commented on #53
I have recently used this parameter to avoid saving data generated in playback mode to the database.
[code]

[2018-06-29 17:25] scrudden opened #66 "Kalman prediction generator throwing exception when calculating headway."
This exception was being caught but regardless should not be allowed happen. This is dev code to calculate predicted headway at a stop.

[2018-06-29 17:28] scrudden commented on #66
Fix in #67

[2018-06-30 13:27] scrudden opened #68 "Use Kalman filter when predicting time to next stop when already departed preceding stop."
This was being done using travel times, as in, the default prediction method.

Change it to use a fraction of the Kalman predicted travel time.

[2018-06-30 13:27] scrudden commented on #68
This can be turned on or off with an option

[code]

[2018-07-01 08:48] scrudden commented on #20
Work on Kalman error cache was done on jcscache branch, so going to create pull request to develop branch to work on this item.

[2018-07-01 08:53] scrudden commented on #20
Working on this here #71

[2018-07-02 17:04] scrudden commented on #68
Tested against MBTA data with good result so now closing.

[2018-07-02 17:04] #68 closed, assigned to scrudden

[2018-07-03 00:37] vsperez commented on #55
Hi. I almost finished the description of TransitimeApi class.  In order to finish it I need help with the description of /command/vehicleAdherenceSummary and its parameters
allowableEarlySec, allowableLateSec and allowableBeforeTimeSecs.  Thanks in advance.
Regards
Vicente

[2018-07-03 12:10] scrudden commented on #55
Hi Vicente,

These are to inform the counters for the number of current vehicles running early, late or on time.

The allowEarlySec is the number of seconds early a vehicle has to be before it is considered in the early counter.

The allowableLateSec is the number of seconds late a vehicle has to be to be considered in the late counter.

All current vehicles between these counters are added to the

[2018-07-06 14:26] vsperez commented on #55
Pull request added:
- Add swagger 3 support. #72

[2018-07-06 14:38] #66 closed, assigned to scrudden

[2018-07-08 10:23] scrudden opened #73 "ArrivalDepartureGeneratorDefaultImpl uses TravelTimes from database to estimate arrivals and departures."
This is OK if you are using the default transitime prediction method but it may be better using the currently configured prediction method rather than referring to the database for travel times.

Perhaps we can extend  the default impl class and change this.

[2018-07-10 14:23] scrudden opened #74 "Investigate methods of using headway as an input to the prediction of dwell times."

[2018-07-12 10:13] changtung opened #75 "features to implement"
Hello, I wanted to describe proposition of a features that could be implemented.

1. In SheduleAdherenceByStop, there is a chart with late, early and on time vehicles. What if after clicking late vehicle, user could see vehicle id. I mean specific vehicle which drives and is late.
2. In Schedule adherence map, there may be a box, label or small space, which presents vehicles with possible sorting

[2018-07-12 12:58] wkulesza commented on #75
I would comment on @pacior features.

ad 1. User would click on that bar and see which trip was affected by late/early arrival/departure time. Dispatcher than can see not only which driver was late but also which trip it was or which trips (if there were several records).

ad 2. I would see that placed in a sidebar on the right hand side of the screen.  Filtering and sorting features would assist

[2018-07-12 13:01] wkulesza opened #76 "[new feature] lcd/led panel for driver that indicates early/late and other info"
We at goEuropa are looking into creating a small panel (to be placed in the vehicle dashboard) that would provide bus driver with crucial information on how late/early he/she is on the current trip along with other information (i.e. route number, trip headsign, block id, upcoming stops etc).

Did anyone look into such features before ?

[2018-07-12 21:05] scrudden commented on #76
You should also ask this question on TheTransitClock mailing list and the OBA developers list.

I have seen these type of in vehicle displays being used in efforts to manage headway (by telling the driver to speed up or slow down), but these where not related to TheTransitClock.

As I expect you know the information is available from the TheTransitClock api so it would be a matter of how and on wh

[2018-07-13 13:37] scrudden commented on #74
Working on this on branch tc_issue_72.

Trying Recursive least-squares (RLS) from smile (http://haifengl.github.io/smile) to prediction dwell times. The input to this is (headway,dwell time).

[2018-07-13 14:40] scrudden commented on #75
I would suggest you branch from develop (branch name tc_issue_75) to make these changes.

[2018-07-13 14:41] scrudden commented on #75
As this is two requirements perhaps it would be better to create a branch (and issue) for each feature.

[2018-07-13 15:49] #46 closed, assigned to nobody

[2018-07-13 15:49] #12 closed, assigned to nobody

[2018-07-13 15:50] #55 closed, assigned to vsperez

[2018-07-15 09:17] scrudden commented on #74
Running test against route 66 MBTA, which is one of their higher frequency routes.

[2018-07-23 16:24] scrudden opened #80 "Add kalman filter travel time prediction method for frequency based services."
The Kalman method is working well for scheduled based services so it should be worth extending this to frequency based services.

[2018-07-23 17:26] scrudden commented on #54
Have added gh-pages and it can be seen at

https://thetransitclock.github.io/transitime/

Going to try to pulblish javadoc from travis using this approach.

https://blog.progs.be/517/publishing-javadoc-to-github-using-maven

[2018-07-23 18:28] scrudden commented on #28
@pacior Can this issue be closed?

[2018-07-24 20:17] scrudden opened #81 "PredictionAccuraryModule going into infinite loop when number of unique stops on trip is less than transitclock.predAccuracy.stopsPerTrip"
PredictionAccuraryModule going into infinite loop when number of unique stops on trip is less than transitclock.predAccuracy.stopsPerTrip

[2018-07-24 20:39] scrudden commented on #81
Fix here #82

[2018-07-25 10:56] changtung opened #83 "SheduleAdherenceByStop enhancement"
In SheduleAdherenceByStop, there is a chart with late, early and on time vehicles. What if after clicking late vehicle, user could see vehicle id. I mean specific vehicle which drives and is late.

User would click on that bar and see which trip was affected by late/early arrival/departure time. Dispatcher than can see not only which driver was late but also which trip it was or which trips (if th

[2018-07-25 10:57] changtung opened #84 "SheduleAdherenceByMap enhancement"
In Schedule adherence map, there may be a box, label or small space, which presents vehicles with possible sorting by time early, late.

I would see that placed in a sidebar on the right hand side of the screen. Filtering and sorting features would assist dispachter in checking in real-time the situation and reacting straight away.

[2018-07-25 10:58] changtung opened #85 "SheduleAdherenceByMap"
A small popup with how late early is a vehicle always visible.

[2018-07-25 20:51] wkulesza commented on #75
@pacior created separate issues. this one can be closed

[2018-07-26 20:01] #75 closed, assigned to nobody

[2018-07-28 20:11] wowkin2 opened #86 "Clarifications about TripUpdate"
Is tripUpdates showing `trip_update.stop_time_update.arrival.time` from the schedule if `schedule_relationship == "SCHEDULED"` or prediction is based on scheduled and VehiclePositions?

Found `trip_update.delay`, should I manually calculate `trip_update.stop_time_update.arrival.time + trip_update.delay` or is it already there?

[2018-07-28 21:26] scrudden commented on #86
When schedule_relationship == "SCHEDULED" the arrival time is a predicted arrival time based on GPS data. The SCHEDULED means it knows which trip (or block) the vehicle is supposed to be running.

[2018-07-31 09:19] wowkin2 commented on #86
What about `trip_update.delay`?

[2018-07-31 16:53] scrudden commented on #86
I am not 100% sure I understand your question. I think you are asking if the delay is already included in the arrival time.

If so the answer is, yes. You do not need to add the two together.

[2018-08-01 12:14] #86 closed, assigned to nobody

[2018-08-06 19:02] nselikoff opened #92 "Make TripUpdate.delay optional in GTFS Realtime trip updates feed"
When using the GTFS realtime feeds generated by TheTransitClock for integration with Google Transit, we initially received Google's `INVALID_TRIP_UPDATE_DELAY_USAGE` warning, in the context of the GTFS Realtime trip updates feed. If both TripUpdate.delay and StopTimeUpdate arrival/departure times are specified, this warning from Google will occur, and they will drop the StopTimeUpdate predictions

[2018-08-06 19:28] nselikoff commented on #52
Hi @scrudden, following up on this issue. In our branch we had to comment out `expectedTravelTimeMsecBackward` and just use `expectedTravelTimeMsecForward` instead of the `Math.min` calculation in order to avoid problematic temporal matches.

[2018-08-06 20:16] nselikoff opened #93 "Should Trip.startTime be set to the arrival time of the first stop if it exists?"
I am working with a route where the first stop of the trip is a "wait stop" (the arrival and departure times are different... e.g. the vehicle arrives at 12:00 and waits for passengers, then leaves at 12:15). Currently the `Trip` class sets the trip `startTime` as the departure time of the first stop of the trip:

https://github.com/TheTransitClock/transitime/blob/develop/transitclock/src/main/jav

[2018-08-07 11:41] scrudden commented on #92
Hi Nathan,

Would a BooleanConfigValue in the GtfsRtTripFeed class be a simple way of doing this? We could default it to not show delay based on the fact it is an optional/experimental field.

From the GTFS rt spec about delay

[code]
Cheers,

Sean.

[2018-08-07 11:48] scrudden commented on #93
Hi Nathan,
What information do you wish the passenger to see? By that, I mean what information in relation to this stop/vehicle would the passenger see at 11:55, 12:05, and 12:20?
Cheers,
Sean.

[2018-08-07 12:25] #81 closed, assigned to nobody

[2018-08-07 13:04] nselikoff commented on #93
Assuming the vehicle is on time (arrives at the station at 12:00 and departs at 12:15):

At 11:55 there would be no realtime info in the GTFS Realtime feeds, so in consuming apps the passenger would just see schedule information about the upcoming trip.

At 12:05 the GTFS Realtime feeds would be populated with the vehicle's real position, connected to this trip, and with trip updates. All of the t

[2018-08-07 13:08] nselikoff commented on #92
That sounds good @scrudden. Given that it's experimental I think it's fair to not show delay by default, though that could be a breaking change for anyone currently expecting that to be in TheTransitClock's GTFS Realtime Trip Updates feed.

[2018-08-07 16:00] scrudden commented on #93
Hi Nathan,

I am wondering would using SchedBasedPredsModule and setting the beforeStartTimeMinutes to 15 provide you with a satisfactory result?

[code]

I think in this case the customer will see what you describe in each case. At 11:55 no predictions. At 12:05 predictions that match the schedule based on a "schedule based vehicle"   and at 12:20, as this "schedule based vehicle"  will be replac

[2018-08-08 23:46] vsperez commented on #92
Hi Sean, Nathan.

Just to have it in mind. As far as I remember OBA uses the delay field.

Regards
Vicente

[2018-08-09 10:27] scrudden commented on #92
Hi,

This post on the OneBusAway developers list would indicate it is optional
for OneBusAway and that it will be calculated if it is not provided.

https://groups.google.com/d/msg/onebusaway-developers/bWvYOQXHj0s/aBPKy1NLAwAJ

Cheers,

Sean.

On Thu, Aug 9, 2018 at 12:46 AM, vsperez <notifications@github.com> wrote:

[2018-08-09 12:24] vsperez commented on #92
Hi,
Completely right, my memory betrayed me a little (today finally I found the email) . “you'll need provide a TripUpdate feed, with each trip_update containing at least one stop_time_update with an arrival or departure delay or time.“
Regards, Vicente

[2018-08-09 12:45] vsperez commented on #17
Hi,

Yesterday I took a look into this, in order to add Spanish language.  I found the resources folder. That's great, it was very easy to have a property file in Spanish.

I don't know how is going with js issue you mention. Any way, just in case, in order to pass some labels to js (I haven't use it in jsp, but we initialize some js variables with the session language) , you can build a small js

[2018-08-09 13:35] barbeau commented on #92
I agree that turning off TripUpdate.delay by default is the right approach.

[2018-08-10 10:22] scrudden commented on #92
Done in this pull request #95

[2018-08-10 10:22] #92 closed, assigned to nobody

[2018-08-12 21:55] nselikoff commented on #93
Hi @scrudden, I'm going to try this - is it possible to use the SchedBasedPredsModule with the PlaybackModule? When I add it to my config and run playback I see that the module is starting (in my log files) but don't see any other evidence that it's working. I will try with live data as well but was hoping to test it with playback.

[2018-08-13 08:59] scrudden commented on #93
Hi @nselikoff,

I have not done this but I wonder if you set transitclock.avl.playbackRealtime to true it may work. I think it defaults to false and runs as fast as possible. I think this may not be giving the SchedBasedPredsModule time to run.

If you change to true the SchedBasedPredsModule should run every 4 minutes based on transitclock.schedBasedPreds.pollingRateMsec. The first avl read in sh

[2018-08-13 15:00] nselikoff commented on #93
Hi @scrudden, good call. Setting playbackRealtime to true is promising... now I can see a schedule based vehicle created, and a bunch of predictions created too. Letting it run for a bit to see the switchover.

[2018-08-13 16:40] nselikoff commented on #93
Hi @scrudden, one minor issue with using SchedBasedPredsModule with PlaybackModule in realtime is that the schedBasedVehicle isn't initially created until the first AVL report is played back (regardless of transitclock.avl.playbackStartTime). Not a big deal, just wanted to note it in this thread.

[2018-08-13 16:52] scrudden commented on #93
Hi Nathan,

It needs the first AVL report to set the clock to the time of the playback so this seems like correct behavior.

We could improve this by having the PlaybackModule set the clock to the start of the playback period. This we could do in the PlayBackModule constructor like this.

[code]

Cheers,

Sean.

[2018-08-13 19:06] scrudden commented on #74
Based on guidance from @simonberrebi I am trying (headway, log10(dwell time)) as the input to RLS.

[2018-08-16 12:00] vsperez opened #96 "Distance inconsistency"
The stoppath length does not always represent the correct distance or the position of the bus stop on route is not correctly estimated.

[2018-08-17 14:54] nselikoff commented on #51
Hi @scrudden, I'm reopening this issue to get a little more help on running UpdateTravelTimes. I have run the UpdateTravelTimes.jar on the command line, but still have some questions:

1. Should UpdateTravelTimes be run for just one day? Or for a range of days? If a range, how long of a range?
2. Besides the start and end date, are there other important config params to be aware of for UpdateTrave

[2018-08-17 15:22] scrudden commented on #51
To check that UpdateTravelTimes has run successfully you can run this query. If the only result is SCHED then it has not run correctly (or perhaps there was no data in the date range specified for it to process).

[code]
The description of each of these values can be found here in the code comments.

https://github.com/TheTransitClock/transitime/blob/ca67e757d9e125d193cdc281fc86b337ce96a9fe/transi

[2018-08-17 16:04] scrudden commented on #51
You need to restart Core for it to use the newly processed travel times for generating predictions.

[2018-08-17 17:34] scrudden commented on #51
If this is to be run regularly I would run it once a week for a rolling period covering the last 28 days. On larger systems there may be performance issues with this.

https://github.com/TheTransitClock/transitime/blob/ca67e757d9e125d193cdc281fc86b337ce96a9fe/transitclock/src/main/java/org/transitclock/applications/UpdateTravelTimes.java#L46-L54

This is one of the motivations for adding the Kalma

[2018-08-18 10:55] scrudden commented on #80
Working on this on branch tc_issue_80

[2018-08-19 22:18] vsperez opened #98 "Synoptic view"
Hi,

I was thinking to add a feature to TheTransitClock that represents the route on a line. In this way, it is very easy to see where are the vehicles respect to each other or respect to the buses.

One single line represents one direction, and the position of every single element (stop or vehicle) is proportionally placed over the line.

I've been already working a little over it.

[2018-08-19 22:21] vsperez opened #99 "Cancel a trip"
Hi,

In normal operations, it is probable that one or more trips are not realized, so it would be nice to have the option of canceling a trip and to inform that to the passenger or any user of the system.

Regards
Vicente

[2018-08-21 19:34] scrudden opened #102 "GTFS rt vehicle position reader has incorrect precedence for assignment type"
In the GTFS rt vehicle position reader (GtfsRtVehiclePositionsReaderBase) if route id and trip id are in the source feed , route id is taking precedence over trip id when setting the assignment type in the AVLReport. This should be the other way around.

[2018-08-21 20:52] scrudden commented on #102
#103

[2018-08-21 20:52] #102 closed, assigned to scrudden

[2018-08-22 09:43] #96 closed, assigned to vsperez

[2018-08-23 11:32] scrudden commented on #51
@nselikoff Can I close this issue again?

[2018-08-23 15:23] nselikoff commented on #51
Yes, thanks @scrudden

[2018-08-23 15:23] #51 closed, assigned to nobody

[2018-08-27 16:43] scrudden commented on #98
I have been using headway values while working on issue #74.

This uses the org.transitclock.core.headwaygenerator.LastArrivalsHeadwayGenerator to create the headway values with the headway then being updated in the vehicle state. This requires that the new caching mechanisms are running.

I am not sure if this headway information is passed to the API. There may be some of this worked on in #13.

[2018-09-02 18:42] scrudden opened #104 "GTFSFileProcessor does not take configRev as a parameter."

[2018-09-07 17:18] scrudden commented on #74
This shows that there is no bias in this prediction method and the spread of prediction error grows consistently with horizon and is well contained. Based on this I am going to merge the related pull request.

This change will not effect the default prediction method.

I had this run for a number of weeks against MBTA route 66.

![image](https://user-images.githubusercontent.com/6191822/45233099-9

[2018-09-07 17:48] scrudden commented on #74
Merged.

[2018-09-07 17:48] #74 closed, assigned to scrudden

[2018-09-07 17:49] scrudden commented on #98
Merged #101

[2018-09-07 17:49] #98 closed, assigned to vsperez

[2018-09-07 17:51] scrudden commented on #99
Merged #100

[2018-09-07 17:51] #99 closed, assigned to vsperez

[2018-09-07 17:52] scrudden commented on #20
Merged #71

[2018-09-07 17:52] #20 closed, assigned to scrudden

[2018-09-08 14:07] scrudden opened #106 "Api throwing exception"
This is being thrown if you look for routes in the API. It will most likely occur for all other calls. I think it is a jersey jar version issue.

![image](https://user-images.githubusercontent.com/6191822/45254947-a2963300-b378-11e8-9d8b-23d942df4e1a.png)

[2018-09-08 14:07] scrudden commented on #106
@vsperez I think this relates to the swagger changes.

[2018-09-08 14:45] vsperez commented on #106
Hi. If it is an issue with swagger, probably it is related to some dependency. Can you send me the resolved pom dependency list?. I have the api and swagger working on tc_issue_98, so I will check the dependency differences.

[2018-09-08 17:09] scrudden commented on #106
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building transitclockApi 2.0.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ transitclockApi ---
[INFO] TheTransitClock:transitclockApi:war:2.0.0-SNAPSHOT
[INFO] +-

[2018-09-08 17:09] scrudden commented on #106
@vsperez See above for list of dependencies. Thanks, Sean.

[2018-09-08 17:19] scrudden commented on #106
Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building transitclockApi 2.0.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.8:resolve (default-cli) @ transitclockApi ---
[INFO]
[INFO] The following files have been resolved:
[INFO]    net.jci

[2018-09-08 19:59] scrudden commented on #106
Think is my mistake.  I built this locally without doing a clean. Will rebuild and try again.

[2018-09-08 20:13] scrudden commented on #106
Tried again and all OK, so closing.

[2018-09-08 20:13] #106 closed, assigned to nobody

[2018-09-08 20:29] vsperez commented on #106
Excellent!!

El sáb., 8 de sep. de 2018 17:13, Sean Óg Crudden <notifications@github.com>
escribió:

[2018-09-09 13:35] scrudden opened #107 "routesDetails API call failing."
The routesDetails api call is failing with
[code]

[2018-09-09 13:38] scrudden commented on #107
The r parameter annotation is missing.
[code]

https://github.com/TheTransitClock/transitime/blob/fa7e7d9534fbc95ae717f8c8e89a84d8b4146bfc/transitclockApi/src/main/java/org/transitclock/api/rootResources/TransitimeApi.java#L775-L786

[2018-09-09 18:44] scrudden opened #109 "direction in trips.txt is required by TheTransitClock but is optional in GTFS specification."

[2018-09-09 18:47] scrudden commented on #109
Example found in Bullrunner GTFS.

https://github.com/CUTR-at-USF/bullrunner-gtfs-realtime-generator/raw/master/bullrunner-gtfs.zip

[2018-09-09 18:48] scrudden commented on #107
Actually caused by **#109**

[2018-09-14 01:49] vsperez opened #110 "Synoptic view with loop schema"
Instead of showing a line in a loop route to show a square.

[2018-10-04 11:15] changtung opened #112 "SprintBoot api installation"
Hey,
What i did to install this on debian linux.

install java 8 - sudo add-apt-repository "deb http://ppa.launchpad.net/webupd8team/java/ubuntu xenial main"
sudo apt-get update
sudo apt-get install oracle-java8-installer

git clone branch develop
mvn package develop branch - `mvn package -Dfile.encoding=UTF-8`
copy transitlock jar to spring boot
mvn install jar into local repository
mvn install:i

[2018-10-04 18:10] scrudden commented on #112
I had this is my stash of TheTransitClock. I will need to pull it out and push it to the repo for you.

[2018-10-06 10:15] scrudden commented on #112
I pushed this up to the "newui" branch.

[2018-10-10 12:51] changtung commented on #112
I pulled this branch, did maven package, then copied jar to springboot pom.xml and repository, added postgresql jdbc driver and installed jdbc with proper credentials. However i am getting:
`org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'transitClockResource': Unsatisfied dependency expressed through field 'avlreportRepository'; nested exception is

[2018-10-10 18:20] scrudden commented on #112
I will have to set this up locally again and get back to you. I will try to do this in the next few days.

[2018-10-11 18:38] scrudden opened #113 "Kalman error value being calculated as NaN"
Kalman error value being calculated as NaN resulting in a 0 prediction for the stoppath. See bold items on log below. Will set to default error value if NaN encountered.

18:51:15.234 Generating Kalman prediction for : Indices [blockId=5, tripId=5, tripIndex=0, stopPathIndex=11, segmentIndex=0]

18:51:15.234 Kalman is using historical value : TravelTimeDetails [departure=Departure [vehicleId=1119,

[2018-10-11 20:05] scrudden commented on #113
Fixed in tc_issue_80.

[2018-10-15 17:59] changtung opened #114 "resetVehicle automation"
I would like to add functionality of automatic resetVehicle, when some trip is late more than specified criteria. Currently if that situation occurs, i see on _schAdhMap_
 vehicles and when some are in big circle, i want to call _resetVehicleApiParams_ on that vehicles.
What is the best way to implement this - as a module and when i add this module, then it works ?
I don't want to do changes in tr

[2018-10-15 19:27] scrudden commented on #114
Hi,

I think the org.transitclock.core.TimeoutHandlerModule should help with the situation you describe and in particular this method.

https://github.com/TheTransitClock/transitime/blob/787afd5905e1f29d1bb5377364367e74451ed13d/transitclock/src/main/java/org/transitclock/core/TimeoutHandlerModule.java#L167-L195

Cheers,

Sean.

[2018-10-15 19:47] scrudden opened #115 "Implement an online railway prediction model"
Implement a new prediction generator for trains based on this paper.

https://www.researchgate.net/publication/245024277_An_online_railway_traffic_prediction_model

[2018-10-17 19:50] scrudden commented on #114
@pacior Did this help? Can I close?

[2018-10-22 17:04] scrudden commented on #115
Looked around a bit and came across two items that may help with this.
[openrail](https://github.com/philwieland/openrail)
[railml](https://www.railml.org)

[2018-11-09 22:53] scrudden commented on #115
Have jaxb'd railml.

[2018-11-11 20:30] scrudden commented on #115
[https://github.com/scrudden/railml](https://github.com/scrudden/railml)

[2018-11-11 20:32] scrudden commented on #115
Started on model from paper.

[https://github.com/scrudden/railmodel](https://github.com/scrudden/railmodel)

[2018-12-07 20:19] scrudden commented on #115
This may also help. The tutorials are good. https://www.simsig.co.uk

[2018-12-19 14:40] oofpez opened #116 "GtfsFileProcessor does not update database but does not report an error"
When running the GtfsFileProcessor.jar with a config file and GTFS (either file or URI), it prints out "Processing configuration file" then exits without updating the database.  I cannot figure out what I'm doing wrong, or if there is an issue with the code.

When using the docker project, I encounter the same issue where that stage of the script doesn't result in the database being updated.

[2018-12-19 15:36] scrudden commented on #116
There would normally be logback log files created. One would be core.log. If you can locate this file it may have information on what your issue is. In the docker container it would be in the dated subdirectory of /usr/local/transitclock/logs.

Failing this if you clone the Docker project and modify it for your configuration I can have a look.

[2018-12-20 08:56] oofpez commented on #116
I can't find any .log files. after running the GtfsFileProcessor.jar, gave up on that and tried docker...

I used the unmodified docker project by running the commands in go.sh one by one.
(on Windows with Linux Docker containers)

Nothing seemed to have issues until I ran the command with ./process_avl.sh
it started printing exceptions - see [paste1](https://pastebin.com/ubcEdjLB) and [paste2](ht

[2018-12-20 13:45] scrudden commented on #116
I would suggest you clone the Docker project and use the MBTA_trial branch as a starting pointing point.

If you configure this as best you can I can have a look.

[2018-12-20 14:08] oofpez commented on #116
Thanks, using that branch helped

[2018-12-21 12:24] oofpez commented on #116
I'm having trouble using my own GTFS file though.  At first I tried via url, then via zip.

I think something is wrong with my config but I can't figure out what.
Please check this branch on a fork of this repo with a supplied GTFSfile:
https://github.com/oofpez/transitime/tree/trying-gautrain-config

When I run the import_gtfs stage, I get UPDATE 0 as a result with no change to the database.

[2018-12-21 18:41] scrudden commented on #116
Remove this line and it should import. This was filtering for a single MBTA route 66.

https://github.com/oofpez/transitime/blob/ead7c12cd54ee2d17051de7313a1bc73adfb07d3/config/transitclockConfig.xml#L6

[2018-12-27 12:14] oofpez commented on #116
Thanks for the help!
got it working :)

btw, this is unrelated to the issue but perhaps you could help me:
I'm trying to push AVL to the api, and it says

[code]

(data is https://pastebin.com/ujTCrvFH )

but server status says

and these avl don't show up in the map or anywhere.  How can I know what's happening to them?

[2018-12-27 21:35] scrudden commented on #116
You may need to set the timezone for your location in this file.

https://github.com/TheTransitClock/transitclockDocker/blob/52c8b42461aac5338af257f27d88ac8574267c2c/bin/start_transitclock.sh#L24

[2018-12-28 07:29] oofpez commented on #116
Thanks did that.

It still says the last valid avl report was (epoch timestamp) secs old though - as if it were reading in my AVLs as if they had timestamp of 0, or they are just lost.
Would the last avl report per vehicle include avl's that weren't matched to a route? I don't see any at all.

EDIT: Ah the logs reveal minlatitude and maxlatitude make my avl out of bounds :)

[2018-12-28 08:18] oofpez commented on #116
Can't find where to set transitclock.avl.minLatitude though, could you point me in the right direction?

[2018-12-28 08:41] #116 closed, assigned to nobody

[2019-01-03 15:04] scrudden commented on #112
I have committed again to the newui branch with the id files included. This should help, but at least show what AVLReportID was intended to be.

[2019-01-03 15:52] scrudden commented on #112
I also need to check in avlreport, arrivaldeparture with new id annotations. Trying to pull from stash.

[2019-01-11 12:30] scrudden opened #117 "2 agency names the same in the GTFS file causes an exception in GTFSFileProcessor"
This exception is thrown when trying to process the GTFS from Metro Transit. This is because the agency_name is used as the primary key rather than the agency_id.

[code]

[2019-01-12 17:43] scrudden commented on #117
tc_issue_117 fixed this.

[2019-01-16 16:32] scrudden commented on #76
Hi Wojciech,

From your update, at the OneBusAway annual meeting, I am aware that goEuropa have created such a device.

Could you give some details here about the device and we can then close this issue.

Thanks,
Sean.

[2019-01-23 18:15] scrudden opened #120 "ehcache eviction policy should be based on SystemTime instead of current time so evictions work correctly in playback mode."

[2019-01-27 14:26] scrudden opened #121 "Prediction source drop down needs to include TheTransitClock."
The prediction source drop down currently has Transitime as the prediction source option. This should be changed to TransitClock.

Perhaps we could refine this to list the method used as opposed to assuming the system only supports one method.

[2019-01-27 14:43] scrudden opened #122 "Schedule adherence map does not work if all vehicles are not assigned."
The `distanceAlongTrip: NaN` in the json returned by vehiclesDetails api call is not valid json. If all vehicles are assigned distanceAlongTrip is set so this is not an issue.

I think vehiclesDetails could do with a parameter to return only currently assigned vehicles.

[2019-01-28 18:37] scrudden opened #123 "All dwell time algorithms need to use storeDwellTimeStopPathPredictions parameter."
RLS dwell time predictors (freq and scheduled) do not respect storeDwellTimeStopPathPredictions parameter.

[2019-01-29 01:45] vsperez commented on #122
Three variables has the same behavior if trip is null: distanceToNextStop, distanceOfNextStopFromTripStart and distanceAlongTrip. This ones should be null in order to have a valid JSON, so changed them from double to Double and set them to null. @scrudden  Do you see any issues that this might cause?

[2019-01-30 18:31] scrudden opened #125 "Support for GTFS-ride files."
Read in [gtfs-ride](https://www.gtfs-ride.org/) files. This data should help estimate demand at stops to further inform dwell time predictions.

This is experimental.

[2019-01-30 18:32] scrudden commented on #125
I have done some of this here [apc](https://github.com/TheTransitClock/transitime/tree/apc). This now reads the board_alight.txt file into the database

[2019-02-01 14:43] barbeau commented on #125
cc @LeoFrachet @antrim @sheldonabrown

@antrim @sheldonabrown do you have any GTFS-ride datasets you can share?

[2019-02-01 17:45] antrim commented on #125
I know that there have been some datasets prepared as part of the https://www.gtfs-ride.org/ project. I'll send a separate email asking about this.

cc: @carletop @ODOT-RPTD-mb

[2019-02-01 19:09] barbeau commented on #125
Thanks @antrim!

@scrudden To my knowledge (someone correct me if you disagree), it should be noted that there is still some discussion (or alternate uses, is maybe a better way to describe it) over whether the GTFS-ride format should hold historical information for one period with strict start and end dates (i.e., Q1 2018), or if it should contain averaged data over a larger period of time that's

[2019-02-01 19:22] carletop commented on #125
@scrudden  At this point, I don't believe any agencies are producing their own GTFS-ride feeds. There are several feeds that have been created by the OSU team. As @barbeau mentions, these feeds are limited to the small date ranges specified in a single published GTFS feed from the agency. @scrudden I may be able to share some of these GTFS-ride feeds for testing purposes. I'll look into it and get

[2019-02-01 19:33] scrudden commented on #125
@carletop Thanks, that would be a great help.

[2019-02-01 20:42] scrudden opened #126 "Key for RLS dwell time cache has travel time set to true. It should be false."

[2019-02-03 15:37] scrudden opened #127 "Add memcached support."

[2019-02-03 15:41] scrudden commented on #127
Implement ErrorCache, StopArrivalDepartureCacheInterface and TripDataHistoryCacheInterface using memcached.

[2019-02-03 15:53] scrudden commented on #125
Perhaps another approach. Are there any agencies that could provide data that could be transformed into GTFS-ride format? in particular, data that could be reflected in a board_alight .txt file?

[2019-02-03 20:36] scrudden commented on #125
Code on branch [apc](https://github.com/TheTransitClock/transitime/tree/apc) now imports [ride_sample_simple.zip](https://github.com/ODOT-PTS/GTFS-ride/blob/master/spec/en/examples/ride_sample_simple.zip) file. The way I tested this was by running quickstart and selecting the ride file.

[2019-02-06 17:23] scrudden commented on #127
Also, need to implement this for DwellTimeModelCacheInterface. RLS algorithm needs to be decoupled here.

[2019-02-09 19:22] scrudden opened #128 "Add Kalman method for predicting dwell time."
This will use the same Kalman method as is used for travel times.

[2019-02-09 19:35] scrudden opened #129 "Trip history lookup should be once per prediction set"
The lookup of trip history for Kalman predictions is done for each stop path. This needs to be done just once per set of stop path predictions for a trip.

This is a performance issue.

[2019-02-11 08:36] wkulesza commented on #76
Please find details about this here:
https://github.com/goeuropa/BusDriverLCDPanel/blob/master/README.md

Please close.

śr., 16 sty 2019 o 17:32 Sean Óg Crudden <notifications@github.com>
napisał(a):

--
Wojciech Kulesza,
Właściciel

goEuropa Polska
ul. 28 Czerwca 1956r. nr 400/407
61-441 Poznań Polska

[m] +48 609 689230
[t] + 48 61 6248682
[@] wojciech.kulesza@goeuropa.eu

[2019-02-11 18:17] scrudden opened #130 "Create data cleaning filters for dwell and travel time data."
This is too abstract dodgy data detection so we can refine.

[2019-03-03 16:12] scrudden commented on #129
Perhaps using ehcache in front of memcached may be the solution here.

[2019-03-04 22:06] yayoyo0 opened #131 "503 error on web"
Hello all.

1. Cloned repo

2. mvn package -DskipTestes

3. java -jar target/transitclockQuickStart.jar

Exceptions in console:

13:25:37.343 WARN  thread=Thread-1 [o.e.j.s.h.C.api:2355] unavailable
java.lang.ClassCastException: org.glassfish.jersey.jackson.internal.JacksonAutoDiscoverable cannot be cast to org.glassfish.jersey.internal.spi.AutoDiscoverable
	at org.glassfish.jersey.model.internal.

[2019-03-05 15:32] scrudden commented on #131
Could you try this on the develop branch and revert?

[2019-03-05 16:15] yayoyo0 commented on #131
@scrudden develop is my current branch.

Any ideas why this is happening?

[2019-03-05 16:40] scrudden commented on #131
Hi,

Just tried same here and dialog box appeared as expected and no stacktrace to console.

This
[code]
should be
[code]
What OS and version of java are you using?

Cheers,
Sean.

[2019-03-05 22:16] yayoyo0 commented on #131
Mac OS and java version "1.8.0_181"

[2019-03-07 15:39] vsperez commented on #131
Hi all,

I am taking a look at this issue in a mac, and Sean is right: the command should be mvn install -DskipTests

There is an issue in the hibernate config file for testing: src/main/resources/postgres_hibernate.cfg.xml line 57. This error should only affect the test phase.

There is a changed introduced not long time ago. The property file for running the web and api applications should be pa

[2019-03-07 16:22] yayoyo0 commented on #131
Still same issue.
im running with: java -jar target/transitclockQuickStart.jar -Dtransitclock.configFiles=transitclock.properties inside transitclockQuickStart

The error on web is the following:

HTTP ERROR 503
Problem accessing /api/v1/key/65562734/agency/01/command/routes. Reason:

    Service Unavailable
Powered by Jetty:// 9.4.z-SNAPSHOT

Thanks for all the answers

[2019-03-08 00:01] vsperez commented on #131
Hi,

Can you take a look in the log and see the next line :"Reading from web.xml file the context-param name transitime_config_file_location from the web.xml file to determine the name of the Java properties configuration file."
and let us know where is reading the configuration?
Processing configuration file: XXXXXXX

Regards
Vicente

[2019-03-08 14:05] vsperez commented on #131
Hi again,

I finally could get it running. I will commit as soon as possible the solution for 503 error.

So. First of all, be sure that property file is readable. This can be found in override_web.xml of quickstart resource. Please replace it for:

[code]
There is a conflict with some libraries. So replace pom content with:

[code]

Please let me know if that works for you.

I believe I saw an er

[2019-03-08 14:09] vsperez commented on #131
By the way. I forgot to say. It is the transitclockQuickStart pom and the one above was for testing so the artifactId is incorrect:
[code]

[2019-03-08 16:49] yayoyo0 commented on #131
Hello all.
With those changes i couldn't even start the web.
I get this error:

java.lang.ClassNotFoundException: org.transitclock.api.utils.ApiLoggingFilter
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381) ~[na:1.8.0_181]
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424) ~[na:1.8.0_181]
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:349) ~[na:1.8.0_181]
	at jav

[2019-03-08 17:13] vsperez commented on #131
Hi,

Did you try http://127.0.0.1:8080/api/? It loads in my computer with those changes. I will take a look at the web issue. You should see:

![screen shot 2019-03-08 at 14 12 54](https://user-images.githubusercontent.com/40370200/54043857-5a7f8e00-41ac-11e9-833b-834633ed01f5.png)

[2019-03-08 17:28] yayoyo0 commented on #131
Same issue.
I get:

HTTP ERROR 503
Problem accessing /api/. Reason:

    Service Unavailable
Powered by Jetty:// 9.4.z-SNAPSHOT

Thanks

[2019-03-08 21:02] vsperez commented on #131
Hi,

There has been a lot of changes, and we have forgotten to update some things in the quickstart app.

So a few more changes:

method `public void addWebapp() throws QuickStartException` of `org.transitclock.gui.TransitimeQuickStart`

Please replace `webapp.setOverrideDescriptor("override-web.xml");` with `webapp.setOverrideDescriptor("override-web-web.xml");`

Create the file `override-web-web

[2019-03-08 22:17] yayoyo0 commented on #131
Im able to see the web now. Unfortunately i cant change the route. I get:

HTTP ERROR 400
Problem accessing /api/v1/key/65562734/agency/01/command/routesDetails. Reason:

    Bad Request
Powered by Jetty:// 9.4.z-SNAPSHOT

Thanks for all the help

[2019-03-08 22:19] yayoyo0 commented on #131
In the API i get the following error.

Failed to load API definition.
Errors
Hide
Fetch errorRequest failed. doc/openapi.json

[2019-03-08 23:28] vsperez commented on #131
Hi,

That's fine. As I said before, there is an issue with the dbname.

In the method 'public void webAgency() throws QuickStartException' of 'org.transitclock.gui.TransitimeQuickStart'  please replace the line with ' String dbName = "02";'
with 'String dbName = "test";'
That should be all. You should see something like:

![screen shot 2019-03-08 at 20 26 19](https://user-images.githubusercontent.

[2019-03-09 03:53] yayoyo0 commented on #131
Thanks @vsperez.
Now the API works but redirects me to the URL: https://github.com/Transitime/core/wiki

Hope you will merge the fixes next week and thanks again for all the help.

[2019-03-12 17:54] vsperez commented on #131
Hi,

Today Sean meged the fox of this issue, @yayoyo0 can you let us know if it is running OK with the new instructions described in the readme file? Do you have any other issues?

Regards
Vicente

[2019-03-12 18:31] yayoyo0 commented on #131
Hello Vicente. I still have the 400 error on the following URL: http://127.0.0.1:8080/api/v1/key/65562734/agency/01/command/routesDetails?r=L1

could this be related to the RTfeed?

Thanks a lot

[2019-03-12 18:31] yayoyo0 commented on #131
Also is there any method to run the jar file without GUI?

Thanks again

[2019-03-12 18:38] vsperez commented on #131
Hi,

The " 400 error" is related to the API project and not the quick start. I will take a look at it.

You car run each part separately. Take a look at https://github.com/TheTransitClock/transitime/wiki/Multi-agency-configuration. This is for running more than one agency, but you should be able to run it for only one.

Regards
Vicente

[2019-03-12 20:18] yayoyo0 commented on #131
Thanks a lot for that

Excelent!

[2019-03-13 16:07] yayoyo0 commented on #131
Hello all.
I have pulled the latest changed from develop and i still have the 400 error in the api.

HTTP ERROR 400
Problem accessing /api/v1/key/65562734/agency/01/command/routesDetails. Reason:

    Bad Request
Powered by Jetty:// 9.4.z-SNAPSHOT

Thanks in advance

[2019-03-13 16:12] yayoyo0 commented on #131
Also im trying to get the reports and i get this error.
No suitable driver found for jdbc:hsql://http://127.0.0.1:8080//test

Thanks.

[2019-03-13 20:55] vsperez commented on #131
Hi,

I haven't downloaded the last merged. Just by curiosity, you called /api/v1/key/65562734/agency/01/command/routesDetails with the r parameter, didn't you?. I will check it as soon as possible.

Regards
Vicente

[2019-03-14 15:17] yayoyo0 commented on #131
Hello Vicente.
Indeed the r parameter was added to the request.

Thanks in advance

[2019-03-14 15:19] yayoyo0 commented on #131
Also i have one question.

When the static GTFS where added the only agency that is shown is the first one in the GTFS. Is that something with the config or is it something with the GTFS?

Thanks

[2019-03-14 20:11] vsperez commented on #131
Hi,

Actually, if you have more than one agency, you should use two instances of the core. As far as I know TheTransitClock is intended to run one core per agency. If you follow the instructions of multi-agency configuration, you should get two core running plus one web showing more than two agencies and one api.

Regards
Vicente

[2019-03-15 17:53] yayoyo0 commented on #131
I have run all the steps but the last one. Do i need to repackage the war file in order to run it on tomcat?

Best regards.

[2019-03-15 17:58] vsperez commented on #131
Hi,

No. It will run perfectly well on tomcat. Just remember to add to the java parameters (-D) "transitclock.apikey" and "transitclock.configFiles properites" parameters.

Probably you will get the same error on routeDetail call of the api. I have been a little bit busy, but probably this evening I will take a look.

Regards
Vicente

[2019-03-15 18:20] yayoyo0 commented on #131
Thanks a lot Vicente.

In case i dont want to use Tomcat is that possible?

Best regards.
Luis

[2019-03-16 17:34] vsperez commented on #131
Hi Luis,

The api and Web app are intended to run on some application server like jetty or tomcat. It is built using Jersey (in which I am not very familiar) and jsp. I believe to run the api with other frameworks, such as spring boot, is possible, but I don't know how many changes in the should be done.

By the way, I found the issue with the api. I will let you know when it be done.

Regards
Vic

[2019-03-16 17:49] yayoyo0 commented on #131
AWESOME!
My intention is to run it in console like Open Trip Planner, is that possible?

Thanks a lot

[2019-03-16 21:53] vsperez commented on #131
Hi,

Yes it is... You just need to modify a little bit the quick start.

Regards
Vicente

El sáb., 16 de mar. de 2019 14:49, Luis Eduardo <notifications@github.com>
escribió:

[2019-04-05 17:53] scrudden opened #135 "stop_times.txt without all arrival_time and departure time values set is an issue for TheTransitClock."
It only arrival_time and departure time are set for timepoints then this causes an issue for TheTransitClock. This breaks some of API calls and specifically those that require block information.

The best example is on the block assignment screen. The "load all" button calls 127.0.0.1:8084/api/v1/key/f78a2e9a/agency/1/command/activeBlockByRouteNameWithVehicles and this fails with a 400 error sayin

[2019-04-09 13:29] nselikoff opened #136 "Exception in thread "CacheEventQueue.QProcessor-TripDataHistoryCache" java.util.ConcurrentModificationException"
I'm merging in upstream changes to my fork, which includes the new-ish jcs caching setup. On startup I'm seeing the below exception in STDOUT. Have you seen this before @scrudden? In terms of configuration, is anything required for the new caching mechanism or should it work with the default config params?

[code]

[2019-04-09 17:37] nselikoff opened #137 "Disable caching by default (make opt-in)"
Perhaps caching should be disabled by default and opt-in, since there are multiple considerations to which caches should be enabled and how they should be configured, depending on the nature of the service.

Right now with default config, `transitclock.cache.daysPopulateHistoricalCache` is set to 4, and I'm seeing the `StopArrivalDepartureCache`, `TripDataHistoryCache`, `FrequencyBasedHistoricalAv

[2019-04-09 17:42] scrudden commented on #137
Hi Nathan,

Yes, these should be opt-in. I will change the defaults.

Cheers,

Sean.

[2019-04-09 17:44] nselikoff commented on #136
FYI, setting `transitclock.cache.daysPopulateHistoricalCache` to 0 effectively turns off the cache and this exception is not thrown.

[2019-04-09 17:53] nselikoff opened #138 "Consolidate caching config parameters to one classpath"
Class config params for caching are in `transitclock.core.cache.*`, while other params like `daysPopulateHistoricalCache` are in `transitclock.cache.*` Ideally these would be all in one section for ease of configuration.

[2019-04-17 14:06] scrudden commented on #138
Change in pull request #140

[2019-04-17 14:06] #138 closed, assigned to scrudden

[2019-04-18 19:31] nselikoff commented on #136
Correction to my previous statement - the exception is still thrown at some point, though maybe not right on startup, even if `transitclock.cache.daysPopulateHistoricalCache` is set to 0.

[2019-05-05 00:27] vsperez commented on #135
Sean, I think that I might take a look at this bug. What solution are you thinking about:
- To interpolate the arrival time on IpcTrip contructor.
- To generate missing arrival times when the gtfs file is loaded.

I think the first one shoud not be difficult except for the first or last stop.

[2019-05-08 16:42] nselikoff commented on #122
Checking in on this one as I'm getting parse errors from ingesting the `vehiclesDetails` API endpoint in another system.

From what I can see, the only one of these three variables that is used by any system within TheTransitClock (besides the `IpcVehicleComplete` class itself, is `distanceAlongTrip`, within the Synoptic view you created @vsperez. I like your proposal to switch these to `Double` a

[2019-05-08 17:21] vsperez commented on #122
Hi guys,

As far as I remember, this was already fixed (exactly in the way @nselikoff  proposed). https://github.com/vsperez/transitime/tree/tc_issue_122

Best regards
Vicente

[2019-05-08 18:00] scrudden commented on #122
This change has a corresponding pull request #124.

[2019-05-08 19:28] nselikoff commented on #122
Looks like PR #124 incorporates both changes - nullifying the variables, and adding the `assigned` parameter to the API endpoint. Might I suggest calling it `onlyAssigned` or `excludeUnassigned` or something to that effect? Otherwise if you're querying the API with `&assigned=false` you might expect to only get vehicles which are unassigned (versus all vehicles).

[2019-05-08 20:00] vsperez commented on #122
Hi Nathan,

Actually that is the idea of the parameter, the name might not be the best. The filter is:
if((assigned && vehicle.getTripId()!=null ) || !assigned)

If parameter assigned is true it will return only assignedVehicles, otherwise all.

I will fix the typo as soon as possible.

[2019-05-10 13:53] vsperez commented on #122
Hi,

I fixed the typo and changed the name of the paramter from assigned to onlyAssigned.

[2019-05-11 15:55] vsperez commented on #135
Sean, I am taking a look at that part of the code. I have a question, does the issue occurres because the stopId of a route does not have its time in the stop_times? Or it is just because the stop_times.txt has null values in arrival time or departure time?
As far as I can see it is the first case.
Regards

[2019-05-11 17:23] scrudden commented on #135
Hi Vicente,

I came across the issue when using this GTFS file.

[http://www.golynx.com/lynxmap/GoLYNX_data/google_transit.zip](http://www.golynx.com/lynxmap/GoLYNX_data/google_transit.zip)

Cheers,
Sean.

[2019-05-11 18:24] vsperez commented on #135
Thanks

El sáb., 11 de may. de 2019 14:23, Sean Óg Crudden <notifications@github.com>
escribió:

[2019-05-24 19:59] vsperez commented on #135
Hi

Today I commited to tc_issue_135. It is working, but I believe it might be more efficient. One related issue I found is how to treat the field stoptime in GtfsStopTime. I believe it is not giving the right value when null.

[2019-06-03 18:08] nselikoff commented on #135
@vsperez I'm working with this same GTFS data. I checked out your `tc_issue_135` branch to try it out. I'm seeing the following new types errors when importing the data:

ERROR - TripPattern null for trip [trip_id] when interpolating. This shoud not be
ERROR - Schedule based travel time is invalid...
ERROR - Found invalid travel time match for tripId=...

Also, I'm not sure if always interpolating

[2019-06-03 18:33] scrudden commented on #135
Perhaps it might be an option to hand;e this outside of TheTransitClock with a custom onebusaway gtfs transformer which could use this as a starting point.

http://developer.onebusaway.org/modules/onebusaway-gtfs-modules/current-SNAPSHOT/onebusaway-gtfs-transformer-cli.html#Generate_Stop_Times

[2019-06-03 18:49] nselikoff commented on #135
Yes, I'm looking at that option as well. There's also an ArcGIS plugin: https://github.com/Esri/public-transit-tools/tree/master/interpolate-blank-stop-times

[2019-06-03 19:04] vsperez commented on #135
The API is broken because of null stop times, so we could change the api reponse on those cases, but it might be very little information for the interfaces.

Of course, fixing the data before loading it is a very good choice.

The errors when importing migth be because of I had to generate twice that information (Gtfs_stop_times). That is because of how the data is processed, but I  need to check

[2019-06-03 19:07] vsperez commented on #135
By the way, What do you think about the  field stoptime in GtfsStopTime?. Is correct the current implementation?

[2019-06-03 19:33] nselikoff commented on #135
I haven't looked closely at all the code yet, but I think what you're doing with isTimepointStop and timepointStop is correct.

[2019-06-07 14:56] scrudden commented on #122
Fixed in #142 and merged.

[2019-06-07 14:56] #122 closed, assigned to vsperez

[2019-06-09 03:56] sreeharibs opened #145 "The import io.swagger.client cannot be resolved"
I just checked out TransitClock and have the following error in `TransitclockCore/TraccarAVLModule.java`

`The import io.swagger.client cannot be resolved`

How to resolve the same ?

[2019-06-09 08:57] scrudden commented on #145
Have you built the project using maven or is this an error from your IDE(eclipse)?

[2019-06-11 17:27] csmarrero commented on #131
Hi,

I have the same problem:
HTTP ERROR 400
Problem accessing /api/v1/key/62c0346f/agency/GLOBAL/command/serverStatus
Reason:
Bad Request
Powered by Jetty:// 9.4.z-SNAPSHOT

I follow the instructions on https://github.com/TheTransitClock/transitime/wiki/Multi-agency-configuration.
Result: Core works, Web works, Api starts but any call to API method responses 400 - Bad Request

I'm using Jetty9 as

[2019-06-11 18:12] vsperez commented on #131
Hi,

I believe it is just environment settings.

Did you set transitime_config_file_location param (take a look at the file WEB-INF/web.xml)? In tomcat it is made by set_env.sh adding "-Dtransitclock.configFiles=/path/to/file.properties" to the VM params( I don't know  about Jetty, but should be pretty similar). Other thing that might be is the property "transitclock.hibernate.configFile" of the p

[2019-06-12 08:57] csmarrero commented on #131
Hi,

I think so, must be environment settings, but I don't find where it is.
When I go to http://{server}:{port}/api, I see this
![image](https://user-images.githubusercontent.com/2453370/59312411-f685cd80-8ca4-11e9-934e-cf9a2a8251d7.png)

And in swagger, the only method that response 200 is this /api/v1/key/62c0346f/command/agencies
![Captura de pantalla 2019-06-12 a las 0 01 22](https://user-ima

[2019-06-12 10:43] vsperez commented on #131
Hi,

I see that API is working, but no agancy is found. So it might be hibernate
configFile. Try with absolute path. The api communicates with the core
using RMI, the core is running in the same machine, isn't it?. Can you send
me the webagancy register from the database?

Regards
Vicente

El mié., 12 de jun. de 2019 04:57, csmarrero <notifications@github.com>
escribió:

[2019-06-12 11:11] csmarrero commented on #131
I put absolute path o config files and same result. But I see on jetty logs that {transitclock.configFiles} is not set. I try to put the absolute path and same result.

Yes the core is in the same machine. This is the record from database.

agencyId	active	dbEncryptedPassword	dbHost	dbName	dbType	dbUserName	hostName
GLOBAL	1	fGTF7L1NK1qv7O45Hpdwjyj6olm43qKX	localhost:3306	transit	mysql	root	localh

[2019-06-12 11:16] scrudden commented on #131
This might not be it but just in case, the "< transitime>" tag in the config.xml above has a space in it and it should not.

[2019-06-12 11:29] vsperez commented on #131
Hi,

Sean is right, it might be that.

If transitclock.configFiles is not set, the API won't find the
configuration file unless you put it directly in WEB-INF/web.xml. It should
be set if you run JVM with -Dvarname=varvalue. If not, try to replace the
value in web.xml with the absolute path to the configuration file.

The webagancy looks fine.

Let me know if that works.

Regards
Vicente

El mié.,

[2019-06-12 12:22] scrudden commented on #131
Also, should the tag be transitclock or transitime?

[2019-06-12 12:56] csmarrero commented on #131
Hi Sean,
Hi Vicente,

I replace the value in web.xml with the absolute path. But it does not works.
It charges the configuration xml, and hibernate configuration (I set true to show_sql).
Check that every service is up and running on its port:

[code]
I activate Jetty9 console log, and every minute writes that
[code]
Next step, uninstall jetty9 and use Tomcat

[2019-06-12 13:07] vsperez commented on #131
Hi,

Just one last check before going into tomcat, is there any error on the
transiclock log files?

By the way, what version of MySQL are you using? I found an issue using
drivers of mysql 5 against mysql 8 (authentication libraries). I don't
think that's the case, but it might be worth to verify.

Regards
Vicente

El mié., 12 de jun. de 2019 08:56, csmarrero <notifications@github.com>
escribió:

[2019-06-12 14:14] csmarrero commented on #131
Hi again Sean, Vicente,

In the same server. I install Tomcat9, deployed api.war and web.war

create setenv.sh file with
```export CATALINA_OPTS="$CATALINA_OPTS -Dtransitclock.configFiles=/usr/local/tomcat9/transitclockConfig.xml```

restart tomcat9 and, **web works** but **api still returns 400-Bad Request**

This is the content of transitclockConfig.xml
[code]
and this is the hibernate.cfg.xml
[

[2019-06-12 15:52] csmarrero commented on #131
Hi,

transiclock log files?

Yes it is. this one:
[code]

mysql 5.7

I change transitime for transitclock, and same result.

Also, transitclock.configFiles and transitclock.apikey are set in tomcat,

By the way, I try to get api method /api/v1/key/62c0346/agency/GLOBAL/command/agencyGroup
with a invalid apikey and get this. (the correct apikey is 62c0346f)

![Captura de pantalla 2019-06-12 a las 1

[2019-06-12 16:17] scrudden commented on #131
Can you see an avl.log file and is it being updated regularly? This should tell us if core is running.

[2019-06-12 16:28] csmarrero commented on #131
Yes, the core is working and logging

![Captura de pantalla 2019-06-12 a las 17 26 39](https://user-images.githubusercontent.com/2453370/59368970-4b722400-8d37-11e9-883d-aaf36ec5cba7.png)

[2019-06-12 16:41] csmarrero commented on #131
Hi,

Maybe this can be useful, I try to get information using the application RmiQuery.jar and get this response.

![Captura de pantalla 2019-06-12 a las 17 34 45](https://user-images.githubusercontent.com/2453370/59369489-6ee99e80-8d38-11e9-9a81-e04caffd3fc8.png)

It looks like the core is not answering via rmi. Am I wrong?

But if you looks for open ports,
![Captura de pantalla 2019-06-12 a las

[2019-06-12 16:58] scrudden commented on #131
Can you try the same but use the command -c "resetVehicle". It should throw an exception if it cannot connect to the RMI server.

[2019-06-12 17:02] vsperez commented on #131
Hi,

I downloaded again the  project and I started using the complied artefact after running mvn -DskipTests package.

I run the core using:

In tomcat directory I edit setenv.sh and I put -Dtransitclock.configFiles:

and then I run it:

I could make it run without problems:

The configuration files I have (.properties) are:

- /Volumes/VPEREZ/transitClock/transitclock.properties
[code]

- /Users/

[2019-06-12 18:50] csmarrero commented on #131
Hi Vicente,

I repeat all your steps, download the project, build everything, tomcat config, etc...

Yes, receive avl data, generate predictions, match vehicles and trips... AND  writes in database; the only difference is that I get the error:
[code]
And get the same error calling API (400)

I do what Sean says:
[code]
And gets
[code]

The OS is a Debian 9, and have no firewall enabled
[code]

Now

[2019-06-12 22:40] vsperez commented on #131
The only thing that comes to my mind rigth now:

Did you set transitclock.modules.optionalModulesList and  transitclock.core.predictionGeneratorClass? like the property files I sent?

Regards
Vicente

[2019-06-12 23:17] csmarrero commented on #131
Yes I did, I copy & paste your transitclock.propierties and only modify my access data and url.
I'm reviewing each step, to see if I've left something behind.

Thank you very much,
Regards,

Carmelo.

[2019-06-13 20:10] vsperez commented on #131
Hi Carmelo,

Maybe it is related to the RMI ports ( I remember some issue we had connecting to the core on production enviroment). It is possible to change them by the parameter transitclock.rmi.rmiPort and transitclock.rmi.secondaryRmiPort. The last one you can chenge it to "0" (zero).

Regards
Vicente

[2019-06-14 10:30] csmarrero commented on #131
Hi Vicente,

I start with a new and clean installation. Debian 9, Mysql 5.7, Tomcat 9
Follow the steps and it works!!
Start with the Intercity data, and with this data I have not found this error (this error is constant in the old server when I start the core):
[code]
Upload my own data and gtfs-rt feed, and it works. And NOT find this error again.

Maybe this error causes the 400 Bad request ?
I'

[2019-06-14 10:37] vsperez commented on #131
Excellent news!!!.

I don't think the bad request was related to the null pointer exception you
had, but it is possible. If you find out what was the cause, please let me
know, I am intrigued.

Regards
Vicente

El vie., 14 de jun. de 2019 06:30, csmarrero <notifications@github.com>
escribió:

[2019-06-14 12:46] scrudden commented on #131
Will raise a separate issue for the NPE. The holding method functionality for managing headways should be off by default.

[2019-06-15 13:41] scrudden opened #146 "Holding time method to manage headways should be off by default."

[2019-06-15 14:40] scrudden commented on #131
Added issue #146.

[2019-06-26 12:28] scrudden opened #147 "ehcache should be upgraded from 2.x to 3.x"
The 2.x version does not support off heap caching while 3.x does.

[2019-06-27 09:19] scrudden commented on #145
Hi @sreeharibs,

Can I close this?

Thanks,

Sean.

[2019-06-27 09:34] sreeharibs commented on #145
Sorry! I missed your comment.

I built it on Eclipse.

[2019-06-27 09:50] scrudden commented on #145
Can you build with maven? The maven build generates source files from swagger files. Once you have built with maven you should be then able to include these generated files in the source path in the eclipse project.

[2019-06-27 17:16] scrudden commented on #147
Working on this on branch tc_issue_147.

[2019-06-27 17:17] scrudden commented on #147
Need to add code to do expiry of entries.
Need to migrate xml configuration.

[2019-06-27 18:15] scrudden commented on #147
Have revised XML into the 3.x format. On doing this have used configuration to set the expiry of entries. So it may be that no code is going to be needed for expiry.

[2019-06-27 18:21] scrudden commented on #147
Have built this on top of Memcached implementation. I did this as it needs to be able to serialize the cache entries for off-heap caching, as it does for adding entries to Memcached.

May look at using KryoSerializer based on the example in this blog entry https://www.ehcache.org/blog/2016/05/12/ehcache3-serializers.html to improve performance.

[2019-07-12 16:38] nselikoff commented on #137
@scrudden I added a config param to disable the historical caches in the branch I'm working on - feel free to cherry pick it.

[2019-07-12 17:33] scrudden commented on #137
@nselikoff Thanks.

[2019-07-14 17:53] ciolt opened #149 "How can I launch a multi-agency configuration of TheTransitClock?"
Hi,

I'm working on a real-time transit system in South Florida, and I can't seem to get the dockerized TC (see: [transitclockDocker@MBTA_Trial](https://github.com/TheTransitClock/transitclockDocker/tree/MBTA_trial)) to work. It keeps throwing database connections errors in my [cscape/wayline-interchange](https://github.com/cscape/wayline-interchange) repo and I'm not entirely sure why. It may hav

[2019-07-15 11:18] scrudden commented on #149
There are two issues here.

1. The docker installer failing.
2. An explanation of the commands used to do a multi-agency installation.

[2019-07-15 11:21] scrudden commented on #149
The docker installer has had problems recently due to the archiving of some debian packages. I will look at this one and update one of the branches to work with a newer FROM than maven:3.3-jdk-8. This should sort this out.

[2019-07-15 15:09] ciolt commented on #149
I'm aware of the Docker installer's problem, and my Docker container works just fine (after changing the image and making some other changes). Of course, I can't launch TC properly if I don't know how to do it. I believe Swiftly uses a multi-agency installation, though.

[2019-07-17 11:43] scrudden commented on #149
@vsperez has updated the wiki with more information. I hope this helps.

There is some more (incomplete) doucmentation here [docs](https://github.com/TheTransitClock/transitime/tree/shade_build_upstream/transitime)

[2019-07-17 15:02] ciolt commented on #149
Thanks Sean (and @vsperez), I have it working now. 👍

[2019-07-17 15:02] #149 closed, assigned to nobody

[2019-07-17 17:07] ciolt commented on #149
Update: I've clarified the documentation on the wiki a little further (with a diagram).

Should be easier now to understand: https://github.com/TheTransitClock/transitime/wiki/Multi-Agency-Configuration

[2019-07-17 17:08] scrudden commented on #149
Thanks. That's great!!!

[2019-08-01 01:33] miguelsto commented on #131
Hi,
I got similar issue : NullPointerException at line getControlPointStops(HoldingTimeGeneratorDefaultImpl.java:609) logged in avl.log.
What I can see is that every 5 to 8 avlReport are with no errors then this exception is raised. Is there something to do with my GTFS files ?
Regards
Miguel

[2019-08-01 01:48] vsperez commented on #131
Hi Miguel,

This is because HoldingTimeGenerator is enabled and not properly configured. This should be disabled by dafault. Take a look at #146. This error should disappear if you add to the property file the line:
`transiclock.core.holdingTimeGeneratorClass=
This will disable the holding time generation.

Regards
Vicente

[2019-08-02 18:37] miguelsto commented on #131
adding the line to the property file fixed the problem, thank you very much
Regards
Miguel

[2019-09-02 14:47] scrudden opened #150 "Should we include all wait stop data in dwell time models?"
Dwell time is affected depending on if the vehicle is early or late to the wait stop. I think if it arrives late maybe it should be included but if it is early then not. The model could then be used in the situation where there is a late arrival to a wait stop, otherwise, use the scheduled departure time.

The dwell time data if it arrives early is meaningless to any simple model.

[2019-09-07 19:11] scrudden commented on #147
Using KryoSerializer and making fields in IpcArrivalDeparture transient should help performance.

[2019-09-07 19:43] scrudden commented on #147
WIP, example here
https://github.com/TheTransitClock/transitime/commit/d79c3b6adb7d0448c244eda480f5cbaa8f295c37

[2019-09-13 11:24] scrudden opened #151 "Log Event if prediction for a travel time varies significantly between prediction methods."
If the difference is greater than or lower than configurable percentage then log an Event with the detail of the indices.

[2019-09-13 16:28] scrudden commented on #151
Working on this on branch tc_issue_151

[2019-09-13 16:28] scrudden commented on #151
Added a threshold for which the difference must be over for it to trigger.

[2019-09-16 14:27] gelinger777 commented on #107
I have used tc_issue_151   to deploy today the Transitime in docker and problem still exists on both Tampa and Halifax GTFS-es
http://116.203.215.167:8080/api/v1/key/aca5c746/agency/tampa/command/agencyGroup

[2019-09-17 13:03] scrudden opened #152 "How should detours be handled?"
If there is a detour that is not in the GTFS schedule how should it be handled?

We would have to know it is there to be able to do something about it. So the question is how do we know it is there? If a vehicle goes on a detour it will, I presume, miss some of the normal stops for the trip. Can we detect this? Well, we can detect stops that have yet to have a vehicle pass it today. Does this indi

[2019-09-17 15:39] nselikoff commented on #152
These are important questions and a great opportunity for making TheTransitClock more dynamic and valuable.

`VehicleEvents` where eventtype = "No match" could be used as the initial trigger. Currently you have to differentiate these events between schedule adherence out of bounds (not a detour) and N bad spatial matches in a row (likely a detour).

Whatever underlying structures are developed to

[2019-09-17 21:24] nselikoff commented on #107
@gelinger777 I believe this issue was actually fixed by https://github.com/TheTransitClock/transitime/pull/134 which has been merged into `develop`. I would recommend trying the `develop` branch.

[2019-09-17 23:20] gelinger777 commented on #107
@nselikoff  I made a fresh build and deploy on docker from develop branch. The problem exists.

[2019-09-18 18:08] scrudden commented on #151
Added new table to store these as there was an issue with primary key constraint using VehicleEvents.

[2019-09-18 19:02] scrudden commented on #152
We would not be able to match while it is on the detour. The vehicle state could reflect it is on a detour so would avoid it being made unpredictable because of N bad matches.

[2019-09-19 10:02] gelinger777 commented on #107
@nselikoff @scrudden  any ideas how to fix this?

[2019-09-21 12:00] scrudden opened #153 "Ehcache should be closed on shutdown."
This should allow for cached data to remain available on restart.

[2019-09-21 12:45] scrudden commented on #153
Attempt at code for this on branch tc_issue_153.

[2019-09-22 13:52] scrudden opened #156 "Would be useful to know how many times a Kalman error value has been updated."
The more often this value is updated the better so it would be helpful to be able to access this quickly.

[2019-09-22 17:36] scrudden commented on #156
Change for this on branch tc_issue_156.

[2019-09-24 17:50] scrudden commented on #130
Code for this on tc_issue_130.

[2019-09-25 16:54] scrudden commented on #151
Merged into branch tc_issue_147.

[2019-09-25 17:03] scrudden commented on #153
Merged to tc_issue_147

[2019-09-26 09:26] scrudden opened #162 "Would be useful to be able to change configuration parameters without a restart."

[2019-09-26 09:32] scrudden opened #163 "Use average as opposed to last vehicle in Kalman prediction calculation."
This is a [TODO](https://github.com/TheTransitClock/transitime/blob/b564e132395cf5f06d66cdc8aac8c02a4a9f8926/transitclock/src/main/java/org/transitclock/core/predictiongenerator/kalman/KalmanPrediction.java#L79) that has been there since this was written. The last vehicle is what the literature specifies but it may be better use the average.

We can set this as a config option

[2019-09-26 09:32] scrudden commented on #163
A different heuristic could take into consideration the prediction error on the upstream bus.

[2019-09-26 13:06] scrudden opened #164 "PredictionAccuracy table should record revisions used."
It would be helpful if the configRev that was being used when the prediction was generated was recorded.

[2019-09-27 09:00] scrudden opened #165 "Add extra field to prediction events so can easily be mapped."
Going to add route, origin_lat, origin_long, destination_lat and destination_long as fields to the PredictionEvent table so can easily map location of issues.

[2019-09-27 09:49] scrudden commented on #163
Work was done on branch tc_issue_163.

[2019-09-28 19:37] scrudden commented on #165
Change done on tc_issue_165 and merged to tc_issue_147,

[2019-10-04 08:42] scrudden opened #168 "Look to end of block when trying to find alternate spatial matches if vehicle is matched at a layover."

[2019-10-04 11:25] scrudden commented on #168
Fixed on branch tc_issue_168.

[2019-10-04 14:39] scrudden opened #170 "Create a map of vehicle events."
As per this comment, it is very useful to see vehicle events on a map.

https://github.com/TheTransitClock/transitime/blob/86c919096a32f53e2ac25b29a73c3b906d8fd9a8/transitclock/src/main/java/org/transitclock/db/structs/VehicleEvent.java#L47-L55

[2019-10-12 13:59] scrudden opened #172 "Adjust bias."
If there is a consistent bias in predictions then it would be useful to be able to adjust for it.

[2019-10-12 17:35] scrudden commented on #172
Implemented on tc_issue_172 branch. There are two methods implemented. One linear and the other exponential.

[2019-10-18 13:54] scrudden opened #175 "Make outlier thresholds configurable."
Add new config parameters to be used by UpdateTravelTimes.

transitclock.traveltimes.fractionLimitForStopTimes
transitclock.traveltimes.fractionLimitForTravelTimes

[2019-12-31 14:15] BodoMinea opened #178 "Setup instructions and sample config files seem to use wrong package tags"
Setup instructions (with command line parameter switches) and the accompanying test/sample configuration XML files in the resources directory (develop branch) seem to all reference to „transitime”. During my deployment, I found out by trial and error that the config parameters in the file were ignored because I should've been using „transitclock” as the root property name.

Hence, I come to you wi

[2019-12-31 14:19] BodoMinea opened #179 "Table structures should be UTF-8"
During my setup of TheTransitClock, I encountered issues with importing my GTFS archive because of UTF 8 characters in it.

I recreated the table structures with UTF8 columns and tables, and this SQL file for MySQL can be found in my forked repo which I requested to be pulled in PR 177.

Also, I would like to inform you that this didn't completely solve my problem. Even though all database related

[2020-01-06 20:23] scrudden commented on #179
Hi,

Can you provide a sample file that has this issue?

Thanks,
Sean.

[2020-01-08 11:25] BodoMinea commented on #179
[stops.txt](https://github.com/TheTransitClock/transitime/files/4035011/stops.txt)
![1](https://user-images.githubusercontent.com/7822580/71974429-23d63200-321a-11ea-844c-51558b23b29b.png)
![2](https://user-images.githubusercontent.com/7822580/71974430-246ec880-321a-11ea-956e-32903b699012.png)
Here you can see the stops.txt file (I can not provide the full feed at this time) and the result in TheT

[2020-01-22 15:54] barbeau commented on #152
Just wanted to update this thread - the most recent proposal for Service Changes / detours in GTFS-realtime that we seem to have a general consensus on is:
http://bit.ly/gtfs-service-changes-v3_1

It's linked at the very bottom of the thread that @nselikoff linked to above (https://github.com/google/transit/issues/113#issuecomment-519631364).

[2020-02-04 17:47] scrudden opened #180 "Check that dwell time model cache is configured before using."
Need to check we can get an instance of the cache before using it.

[2020-02-04 19:12] scrudden commented on #172
Merged to tc_issue_147 which is set to be merged to develop.

[2020-02-04 19:13] scrudden commented on #175
Merged to tc_issue_147 which is set to be merged to develop.

[2020-02-04 19:13] #175 closed, assigned to nobody

[2020-02-04 19:13] #172 closed, assigned to scrudden

[2020-02-04 19:15] scrudden commented on #180
Merged to tc_issue_147 which is set to be merged to develop.

[2020-02-04 19:15] #180 closed, assigned to nobody

[2020-02-04 19:17] scrudden commented on #163
This was merged to branch tc_issue_147 which is set to be merged to develop.

[2020-02-04 19:18] #163 closed, assigned to nobody

[2020-02-04 19:19] scrudden commented on #156
Merged into tc_issue_147 which is set to be merged with develop.

[2020-02-04 19:19] #156 closed, assigned to scrudden

[2020-02-04 19:53] scrudden commented on #145
no update so closing.

[2020-02-04 19:53] #145 closed, assigned to nobody

[2020-02-04 19:55] scrudden commented on #165
tc_issue_147 set to be merged to develop.

[2020-02-04 19:55] #165 closed, assigned to nobody

[2020-02-04 19:56] scrudden commented on #49
no recent response so closing.

[2020-02-04 19:56] #49 closed, assigned to nobody

[2020-02-04 19:59] scrudden commented on #131
Covered by #146 so closing this one.

[2020-02-04 19:59] #131 closed, assigned to nobody

[2020-02-04 20:02] scrudden commented on #129
Ehcache 3.x resolves this as the data required at any particular time is pulled into memory and is therefore fast too access. So this is resolved in tc_issue_147 which is set to be merged to develop.

[2020-02-04 20:02] #129 closed, assigned to nobody

[2020-02-05 13:02] scrudden commented on #127
Have gone with Ehcache 3.x instead, so we may eventually remove any Memcached implementation. Ehcache 3.x performed during the trial in MT.

[2020-02-05 13:02] #127 closed, assigned to scrudden

[2020-02-05 13:31] scrudden commented on #153
Tc_issue_147 set to be merged to develop so closing.

[2020-02-05 13:31] #153 closed, assigned to scrudden

[2020-02-05 14:06] scrudden commented on #152
If we take it that we know about a diversion (either by detection or service changes) how do we represent this in TheTransitClock.

Do we try to update the current in-memory schedule on the fly or do we add a detour model layer that we can query before we take into account each stoppath travel time and dwell time in a prediction?

So, if stoppath is effected by detour add detour total travel times

[2020-02-05 14:06] scrudden commented on #152
Also, do we represent the detour in the realtime feeds (service changes) coming from TheTransitClock? and provide predictions for the new stops on the detour?

[2020-02-05 14:28] barbeau commented on #152
This would be amazing if possible.

[2020-02-06 14:14] scrudden opened #182 "Make ehcache config file location configurable."

[2020-02-11 13:43] scrudden commented on #152
How is matching affected? How does this affect the SpatialMatcher and the TemporalMatcher?

The current SpatialMatcher matches to the closest point on the static route. This would need to be changed so it could match to a point on the detour as well as the static route.

The TemporalMatcher would also need to say so it is possible to be on the detour based on the previous match and the time past.

[2020-02-11 20:17] scrudden opened #183 "Highlight stop types on schedule adherence by stop report"
Would be nice to be able to see which stops are wait stops.

[2020-02-18 19:46] #151 closed, assigned to scrudden

[2020-02-20 12:29] wkulesza opened #185 "vehicles not assigned in Active blocks view and no reports in db"
Using https://github.com/cscape/interchange which in turn uses newest TC branch to quickly deploy a testing version of TC with my data.

I have succeeded in doing it, but there are two issues that i noticed:
- Active blocks don't show assigned vehicles eventhough there are assignments (both global assignment indicates it as well as schedule adherence by map and other places) - see here https://prn

[2020-02-20 19:42] scrudden commented on #185
If you select All in the prediction source drop-down can you see data in the prediction reports?

[2020-02-20 19:47] wkulesza commented on #185
No, When i select all for both prediction type and prediction source I get:

No data for requested parameters. Hit back button to try other parameters.

W dniu czw., 20.02.2020 o 20:42 Sean Óg Crudden <notifications@github.com>
napisał(a):

--
Wojciech Kulesza

Właściciel / Owner

goEuropa Polska Wojciech Kulesza
+48616248682
wojciech.kulesza@goeuropa.eu
www.goeuropa.eu
ul. 28 Czerwca 1956r nr 400

[2020-02-20 19:58] scrudden commented on #185
Is there any data in the prediction accuracy table in your database?

[2020-02-20 20:02] scrudden commented on #185
As you are using interchange you are using their default transitclock configuration.
[code]
needs to be set.

[2020-02-20 20:10] scrudden opened #186 "Set bias adjusters off by default."

[2020-02-20 20:12] scrudden opened #187 "Set TransitClock as the default prediction source rather than transitime."
Set TransitClock as the default prediction source rather than transitime.
The predictions are being recorded as TransitClock predictions now do need to change option on UI.

[2020-02-20 20:15] scrudden commented on #147
tc_issue_147 merged to develop so closing. Best option for caching is Ehache 3.x.

[2020-02-20 20:15] #147 closed, assigned to scrudden

[2020-02-20 20:16] scrudden commented on #187
This is a duplicate of #121

[2020-02-20 20:16] #187 closed, assigned to nobody

[2020-02-21 09:40] wkulesza commented on #185
Added this to config/__generic.properties

rebuilt and now no assignments in the TC, eventhough there are AVL reports and everything seems to be read fine.

this is my config file - maybe this changed influenced something different:
https://prnt.sc/r5ks67

And these are info from the TC:
https://prnt.sc/r5l8us Server status
https://prnt.sc/r5l94u Database Disk Space Utilization

Edit: getting assi

[2020-02-24 13:54] scrudden opened #188 "Route names need to be url encoded in active blocks screen."
This causes and issue for route names with special characters such as |.

[2020-02-24 15:04] scrudden opened #192 "Set dates to US format mm-dd-yy on the reports"

[2020-02-24 16:50] scrudden commented on #186
Done on tc_issue_186 and merged to develop.

[2020-02-24 16:50] #186 closed, assigned to nobody

[2020-02-24 16:51] scrudden commented on #188
Done on branch tc_issue_188 and merged to develop.

[2020-02-24 16:51] #188 closed, assigned to nobody

[2020-02-24 17:12] scrudden commented on #192
Fixed on branch tc_issue_192 and merged to develop.

[2020-02-24 17:12] #192 closed, assigned to nobody

[2020-02-24 18:03] scrudden commented on #185
MPK branch of https://github.com/TheTransitClock/transitclockDocker is working.

Fixes #192 #188 #187 help to resolve these issues.

[2020-02-24 20:41] scrudden commented on #121
fixed on tc_issue_121 and merged to develop.

[2020-02-24 20:41] #121 closed, assigned to nobody

[2020-02-24 20:42] scrudden commented on #120
Related to ehcache 2.x implementation. Now using 3.x.

[2020-02-24 20:42] #120 closed, assigned to nobody

[2020-02-24 20:43] scrudden commented on #114
Closing as no response since 2018.

[2020-02-24 20:43] #114 closed, assigned to nobody

[2020-02-25 15:06] scrudden commented on #185
@wkulesza Can this issue now be closed?

[2020-02-25 15:41] wkulesza commented on #185
Yes. Thank you for doing this branch.

W dniu wt., 25.02.2020 o 16:06 Sean Óg Crudden <notifications@github.com>
napisał(a):

--
Wojciech Kulesza

Właściciel / Owner

goEuropa Polska Wojciech Kulesza
+48616248682
wojciech.kulesza@goeuropa.eu
www.goeuropa.eu
ul. 28 Czerwca 1956r nr 400
Kiedy przyjedzie autobus? Sprawdż na www.kiedybus.pl
<https://www.kiedybus.pl/>

[2020-02-25 15:46] #185 closed, assigned to scrudden

[2020-02-25 17:30] scrudden commented on #152
Sounds silly to say it but detours cannot have detours. One detour would replace another.

[2020-02-25 17:30] scrudden commented on #152
Sounds silly to say it but detours cannot have detours. One detour would replace another.

[2020-02-25 20:03] scrudden commented on #152
Started work on branch tc_issue_152.

[2020-02-27 19:41] scrudden commented on #152
Focusing on  GTFS-NewShapes piece of GTFS-rt Service Changes first.

[2020-03-22 13:32] scrudden commented on #152
@vsperez
There are new bindings for GTFS-realtime that include the service changes at
https://github.com/MobilityData/gtfs-realtime-bindings/tree/service-changes

This project may help with creating a test service changes feed.
https://github.com/OneBusAway/onebusaway-gtfs-realtime-exporter/wiki

[2020-03-29 00:33] vsperez commented on #152
@scrudden
It is already working the first  version for dummy feeds. Just a few things to improve.
![Screen Shot 2020-03-28 at 21 31 52](https://user-images.githubusercontent.com/40370200/77837129-c0ceaa00-713b-11ea-8e0d-32d277696c7a.png)
![Screen Shot 2020-03-28 at 21 31 59](https://user-images.githubusercontent.com/40370200/77837133-c926e500-713b-11ea-885a-8ba1a765c1e7.png)

[2020-03-30 15:31] scrudden commented on #152
@vsperez That looks good! @barbeau Does the above format look correct to you?

[2020-03-30 15:43] vsperez commented on #152
By the way. The whole trip-update message is:

header {
  gtfs_realtime_version: "2.0"
  incrementality: FULL_DATASET
  timestamp: 1585441896
}
entity {
  id: "/Volumes/VPEREZ/transitClockTests/B_R_NORMAL_2020.kml"
  shape {
    shape_id: "/Volumes/VPEREZ/transitClockTests/B_R_NORMAL_2020.kml"
    shape_point {
      shape_pt_lat: -22.480377
      shape_pt_lon: -68.93063
      shape_dist_traveled:

[2020-03-30 16:21] scrudden commented on #152
@vsperez Could you publish the KML file you used and the related GTFS file somewhere?

[2020-03-30 17:08] barbeau commented on #152
@scrudden Yes! Although I believe there should be a `shape_pt_sequence` field as well for an explicit reference to point order (similar to static GTFS). I just updated the bindings PR to include this new field.

[2020-03-30 17:09] barbeau commented on #152
Oh, and `shape_dist_traveled` should be populated with a valid value instead of `0.0`. It's optional, so you could also just not publish the field.

[2020-03-30 20:19] vsperez commented on #152
Ok. Thanks for the feedback. Actually the lack of thouse fields is a bug.
They are supposed to be there.

El lun., 30 de mar. de 2020 14:09, Sean Barbeau <notifications@github.com>
escribió:

[2020-03-31 23:31] vsperez commented on #152
@scrudden I just fixed the shape_dist_traveled and shapeId. This is what I got. Is it correct the gtfs version, or should I use other?
header {
  gtfs_realtime_version: "2.0"
  incrementality: FULL_DATASET
  timestamp: 1585697422
}
entity {
  id: "B_R"
  shape {
    shape_id: "B_R"
    shape_point {
      shape_pt_lat: -22.480377
      shape_pt_lon: -68.93063
      shape_dist_traveled: 0.0
      s

[2020-04-03 16:17] scrudden commented on #152
Looks good. I am not sure what is expected in terms of the version number. @barbeau Can you chime in on this?

[2020-04-03 16:23] barbeau commented on #152
Do you mean `gtfs_realtime_version`? This will likely stay at `"2.0"` in a final adoption of the GTFS-ServiceChanges spec, as the new entities don't break any existing behavior.

[2020-04-03 18:09] scrudden commented on #152
Yes, that is what I meant. @vsperez Is that what you meant by version in your earlier comment?

[2020-04-06 19:00] scrudden commented on #152
How would a stop on a detour be encoded using GTFS service changes? Should we relate a stop to the shape it is on?

[2020-04-07 01:48] vsperez commented on #152
Yes, I meant gtfs_realtime_version. Thanks.

[2020-04-07 14:29] barbeau commented on #152
@scrudden I'm double-checking this, but here's my current understanding - If the stop_sequence of stops changes due to the detour (including added `Stops`), you need to define a new `Trip` object with all the `StopTime`s and reference the new shape from here (and cancel the original scheduled trip via separate TripUpdate with `schedule_relationship = CANCELED`). Think of this similar to defining n

[2020-04-07 18:40] scrudden commented on #152
@barbeau How would OneBusAway deal with this new trip?

[2020-04-07 20:43] barbeau commented on #152
@scrudden None of the `Trip` or other ServiceChanges entities are supported in OneBusAway yet, so it would just ignore it.

[2020-04-09 11:32] scrudden commented on #152
If on a detour this will effect the recording of arrival and departures. We should not record any for the skipped stops.

[2020-04-09 18:49] scrudden commented on #152
Is a detour a change to an existing trip or is it a completely new trip?

I am conflicted/confused on this one. The Services Changes spec would point to a new trip (if there is a stop on a detour) and the shape provided would be the whole new trip.

In my mind a detour is a change to an existing trip and the shape in a detour model would represent the changed piece of the route shape.

[2020-04-14 19:49] scrudden commented on #152
We will need to have the ability to handle stops on detours so have refactored the diversion model to include diversionStopPaths.

[2020-05-01 17:14] scrudden commented on #152
Indices class will need to be able to represent a vehicle on a diversion and where on a diversion it is.

[2020-05-06 17:37] scrudden commented on #152
https://github.com/google/transit/issues/113#issuecomment-485881848

@vsperez Just in case you have not seen. This comment from Trapeze describes a User Interface to draw a detour as you intend doing. This gives me confidence that this is an appropriate thing to do.

[2020-06-12 11:15] scrudden opened #195 "Lower default ehcache memory requirements"

[2020-06-21 23:12] vsperez commented on #152
@scrudden, I have  been taking a look at the detour managing, and I have a small issue. If the "basic detour" has a tripId on it is quite difficult to handle. I don't know what is better:
- To divide the detour into two administrative and applied. The first one meaning what can be applied to a group of trips and the second one already with the trip.
- Edit and to apply to every single trip on the

[2020-06-22 13:44] scrudden opened #198 "Traccar client needs to be updated to match latest traccar swagger file."

[2020-06-22 20:40] scrudden commented on #152
@vsperez Sorry, I do not understand your comment. Could you perhaps give an example?

[2020-06-22 21:52] vsperez commented on #152
@scrudden If I want to create a detour, I want to do it for several trips, even several days. In this very moment, the diversion PUT method receives:
  { "routeId": "string", "tripId": "string",  "shapeId": "string",  "startStopSeq": 0,....}

But If I am a user I would like to provide something like:
{ "routeId":"string", "since":"initDateTime","until":"endDateTime" ....}

So In this case, I a hav

[2020-06-24 13:52] scrudden commented on #152
I think the issue is, should a detour be related to a route or to a trip?

Maybe we should have the option of both? So, if tripId is provided then have it specific to the trip but if routeId alone provided then apply detour to all trips on the route within the time period.

Does that sound like a plan?

[2020-06-24 21:15] scrudden commented on #198
Fixed in #199

[2020-06-24 21:15] #198 closed, assigned to nobody

[2020-06-26 12:35] scrudden opened #200 "Set limits on default log file sizes and ages."

[2020-06-27 15:09] vsperez commented on #152
Yes it does. I will make tripId optional.

[2020-06-27 23:03] vsperez commented on #152
Hi.
I want to clarify the meaning of certain vars. Please let me know if it is correct.

- startStopSeq: The stop immediately before the detour beginning.
- distanceStartAlongSegment: The distance over the route from the startStopSeq to the start of the detour beginning.
- returnStopSeq: The stop immediately after the detour ending.
- distanceEndAlongSegment: The distance over the route from the d

[2020-06-28 10:33] scrudden commented on #152
Hi Vicente,

The definition of the variables you detailed are correct.

There are detour model classes that you could populate. Is this what you are looking for?

Cheers,
Sean.

[2020-06-28 13:30] vsperez commented on #152
Actually I am looking for some method that, given a coordinate and shape,
returs the closest  path or parths. One that would be easy to use. If not,
I will implement it or search in the code. I know some exists, but the one
I know are not easy to use.

El dom., 28 de junio de 2020 06:33, Sean Óg Crudden <
notifications@github.com> escribió:

[2020-06-28 15:07] scrudden commented on #152
Hi Vicente,

This may help. The Vector class has some of the methods that could help.

Cheers,
Sean.

https://github.com/TheTransitClock/transitime/blob/485eead484e5226ac971dbb364771950cf0402f7/transitclock/src/main/java/org/transitclock/core/SpatialMatcher.java#L549

[2020-06-30 13:21] vsperez commented on #152
It will help, thanks.

El dom., 28 de jun. de 2020 a la(s) 11:07, Sean Óg Crudden (
notifications@github.com) escribió:

[2020-07-15 14:12] jSantiago318 opened #202 "TransitClockQuick Start not registering TransitClockTraccarClient"
When trying to update GTFS, I'm trying to access the data from traccar client which is running and with vehicles. But Transit clock starts running but doesn't show any vehicles.

[2020-07-15 17:39] scrudden commented on #202
You may be better using the docker example in

https://github.com/TheTransitClock/transitclockDocker/tree/MPK

There is also details around traccar integration in the latest posts on the mailing list.

https://groups.google.com/forum/?hl=en#!forum/thetransitclock

[2020-07-16 12:43] jSantiago318 commented on #202
`Getting GTFS-realtime AVL data from URL=http://localhost:8082/api/devices ...
Exception when reading GTFS-realtime data from URL http://localhost:8082/api/devices
java.net.ConnectException: Connection refused (Connection refused)
	at java.net.PlainSocketImpl.socketConnect(Native Method) ~[na:1.8.0_252]
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350) ~[na:1.8.0_252

[2020-07-16 12:48] scrudden commented on #202
Hi Joshua,

Where do you have traccar running and what version are you using?

I recently upgraded the client for the latest version so Mohamed could
connect to Traccar.

Cheers,
Sean.

On Thu, Jul 16, 2020 at 1:44 PM Joshua Santiago <notifications@github.com>
wrote:

[2020-07-16 12:50] jSantiago318 commented on #202
Hi,

Tracacr is running on localhost:8082 and the MPK branch.

[2020-07-16 12:52] scrudden commented on #202
Can I see your transitclock.properties file?

[2020-07-16 12:54] jSantiago318 commented on #202
`transitclock.autoBlockAssigner.autoAssignerEnabled=true
transitclock.autoBlockAssigner.ignoreAvlAssignments=true
transitclock.autoBlockAssigner.allowableEarlySeconds=600
transitclock.autoBlockAssigner.allowableLateSeconds=600

transitclock.avl.feedTimeoutInMSecs=30000
transitclock.avl.gtfsRealtimeFeedURI=http://localhost:8082/api/devices
transitclock.avl.maxSpeed=50
transitclock.avl.numThreads=1

[2020-07-16 12:58] scrudden commented on #202
Set this without the GtfsRealtimeModule.
[code]

[2020-07-16 12:59] scrudden commented on #202
This setting is for GTFS realtime vehicle positions, not for Traccar.

[code]

[2020-07-16 12:59] scrudden commented on #202
When you do this can you look in avl.log to see if you are getting data.

[2020-07-16 13:55] jSantiago318 commented on #202
I still can't view the program
core.log gives this output

`Caused by: java.net.ConnectException: Connection refused (Connection refused)
	at java.net.PlainSocketImpl.socketConnect(Native Method) ~[na:1.8.0_252]
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350) ~[na:1.8.0_252]
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206) ~[n

[2020-07-16 14:53] jSantiago318 commented on #202
I found out what I had wrong. When I used localhost it didn't read the vehicles. But I used ngrok to redirect the localhost and it started working. Thank You

[2020-07-22 15:30] #202 closed, assigned to nobody

[2020-07-22 15:33] jSantiago318 opened #203 "Program breaks after finding match for vehicle"
Hello,
This is everything I have done.

1.  cloned reop
2.  Implemented Traccar configuration to the necessary files. I can see the vehicle in real-time, no noticeable latency in-vehicle refresh.
3. Enable vehicle auto-assigner
4. I can see when 2 or more routes are a match and none is selected. (Program keeps running)
5. When one route is selected and is a temporary match the program breaks

This

[2020-07-22 15:45] jSantiago318 commented on #203
After running the program again. This exception keeps logging into the core.log. The vehicle is currently in a route, the auto-assigner is not registering any routes near.

`java.lang.NullPointerException: null
	at org.transitclock.ipc.data.IpcSchedTimes.<init>(IpcSchedTimes.java:45) ~[transitclockCore-2.0.0-SNAPSHOT.jar:na]
	at org.transitclock.ipc.data.IpcTrip.<init>(IpcTrip.java:79) ~[transitcl

[2020-07-22 17:00] scrudden commented on #203
Do you know how to run core in eclipse or some other IDE?

The line causing the NPE is this.
[code]
I would like to know if the trip is null or if trip.getScheduleTime(0) returns null?

If you want me to look further I will need your GTFS and access to your traccar instance.

[2020-07-22 17:44] jSantiago318 commented on #203
I didn't mention I am running transit clock using docker. Even if I am using traccar is it preferable to run the instance using eclipse ?

[2020-07-24 17:50] scrudden commented on #203
No, it is not preferable to run in Eclipse. I was just wondering if you could so we could get more info on the NPE. As I mentioned you could alternatively give me access to your GTFS file and your traccar instance so I can look at what is causing this issue.

[2020-07-28 18:39] jSantiago318 commented on #203
I sent you the GTFS file, thank you for the help

[2020-08-05 13:16] #203 closed, assigned to nobody

[2020-09-02 10:25] scrudden opened #204 "Traccar module uses id rather than name to identify vehicles."

[2020-09-14 11:15] scrudden opened #205 "Core not shutting down on SIGTERM."

[2020-09-14 14:32] scrudden opened #207 "Frequent Trip id changes need to be handled more effectively by Kalman Prediction Generator."

[2020-10-20 10:43] scrudden opened #209 "Exception from Kyro serializer moving entry to lower cache."
[code]

[2020-10-29 09:52] wkulesza opened #210 "Include Occupancy status (GTFS-RT v2) in TransitClock"
Following adoption of Occupancy status  in GTRS-RT v2 (details here: (https://gtfs.org/reference/realtime/v2/#enum-occupancystatus it would be important to include this in TransitClock for a number of reasons:
- real-time information on map (per each vehicle visible on map)
- historical information in reports

Both would significantly (especially during panedmic times) help dispatchers react both

[2020-10-30 19:25] scrudden opened #211 "Kyro serializer is not thread safe"

[2020-11-02 17:57] scrudden commented on #207
May be best to use (route name, trip start time, current date) as the trip data cache key.

[2020-11-10 15:13] rbarcham opened #212 "Kalman Filter prediction rate appears lower than expected"
For a TTC deployment, our metrics suggests that the Kalman Filter is generating a limited proportion of predictions - hovering around 50% or total, with TTC falling back to the traditional historical algorithm in other cases. Investigation is needed to dig into whether this is caused by data, configuration, or code issues.

![image](https://user-images.githubusercontent.com/48216520/98691964-98976

[2020-11-11 16:54] simonberrebi commented on #212
Thank you for raising this issue,

The following items are needed to better understand the issue and identify potential solutions:
1. Config files for TheTransitClock and caching
2. Latest configParams.log file
2. Pull-request for instrumentation of Kalman Filter to tc_issue_212 branch of TheTransitClock. Please ensure that only the code specific to the instrumentation feature is included in the p

[2020-11-11 20:43] rbarcham commented on #212
We'll share 1) and 2) and add 3) to our backlog, thanks!

[2020-11-25 13:51] scrudden commented on #212
The consistent low PredictionKalmanHeadwayHitRate that is seen in the graph above is not repeating on our test setup which is based on the config provided and the code from the tc_issue_212 branch of TheTransitClock. See attached file.

[KalmanHeadwayHitRate.csv.gz](https://github.com/TheTransitClock/transitime/files/5596984/KalmanHeadwayHitRate.csv.gz)

@rbarcham Would it be possible to provide a

[2020-11-26 13:01] wkulesza opened #217 "Traccar module: Remove vehicle from TC if vehicle removed from Traccar"
**Expected functionality**
When a vehicle is removed from traccar account, it shouldn't be visible in TC anymore and it is.

**Describe the bug**
Vehicle removed from traccar, is still visible on the map of unassigned vehicles

**To Reproduce**
Add vehicle to Traccar, wait until it's picked up in TC and visible on the map of unassigned vehicles, then delete it permanently in traccar. It will still

[2020-11-26 13:06] wkulesza opened #218 "Traccar - replace "deviceId" from api/positions with "name" from api/devices"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
Currently, traccar module takes the deviceId from traccar to be used in TC, instead of name

**Is your enhancement request related to a problem? Please describe.**
deviceId is the value automatically assigned in traccar.

**Describe the solution you'd like**
User has the control over "name" parameter in tr

[2020-11-26 13:14] wkulesza opened #219 "Drill down to trip or trip pattern in Active blocks and Maps view"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
Add functionality to see on the map a given trip.

**Is your enhancement request related to a problem? Please describe.**
Currently, when viewing Active blocks, there is no possibility to see that given trip/block on a map.
On the map view, one can select from dropdown a given route and see it on the map -

[2020-11-29 20:42] simonberrebi commented on #212
In the config files provided, the transitclock.core.terminatePredictionsAtTripEnd parameter is set to true. This parameter is not implemented in the develop version of TheTransitClock. Could you send a pull-request with the code implementing this parameter so we can do further analysis.

In addition, we suggest testing the system with this parameter set to false and provide the associated instrume

[2020-12-02 19:08] rbarcham commented on #212
@simonberrebi we believe terminatePredictionsAtTripEnd should only impact our GTFS-RT caching, and was set as a requirement from our partners. Are there differences in the latest prediction generation code? We may have to chat further offline.

cc @sheldonabrown

[2020-12-07 18:14] simonberrebi commented on #212
There is a check to see if the direction of the last vehicle when it traversed the stop-path matches the direction of the vehicle we are currently generating the prediction for. The issue is that once we try to predict past the end of a trip (Trip 1) within a block, the direction no longer matches. The first, second, and subsequent stops of the next trip (Trip 2) will be going in the opposite dire

[2020-12-09 17:48] #204 closed, assigned to nobody

[2020-12-09 17:50] scrudden commented on #218
Duplicate of #204

[2020-12-09 17:50] #218 closed, assigned to nobody

[2020-12-15 13:14] wkulesza commented on #218
Recent commits by scrudden changed this and now TC returns correct values.
Only requirement is for the user that is used to access Traccar api, to be administrator. This is to be set in the Traccar web app.

[2020-12-29 22:54] brodyFlannigan opened #222 "[BUG] QuickStart Maven Build Failure - Missing ressource"
**Expected functionality**
When the `mvn install -DskipTests` command is run, the build should succeed.
**Describe the bug**
The build fails. Maven reports the following: ` Failed to execute goal on project transitclockQuickStart: Could not resolve dependencies for project TheTransitClock:transitclockQuickStart:jar:2.0.0-SNAPSHOT: Could not find artifact TheTransitClock:transitclockCore:jar:2.0.0-

[2020-12-31 16:59] scrudden commented on #222
Happy New Year!

Can you try build from the parent directory of transitclockQuickStart?

[2020-12-31 20:23] brodyFlannigan commented on #222
The build succeeded when built from the parent directory (transitime-develop in my case).

Closing issue.

[2020-12-31 20:24] #222 closed, assigned to nobody

[2021-01-14 12:01] alex-trask opened #223 "Is it possible to re-import GTSF static without restarting the service?"

[2021-01-14 12:55] scrudden commented on #223
You need to restart the core as it reads the latest (or specified) schedule revision from the database into memory on startup. You could do the import prior to the restart of core.

[2021-01-19 21:28] scrudden commented on #223
Can this be closed?

[2021-01-25 15:56] #223 closed, assigned to nobody

[2021-01-25 15:56] scrudden commented on #223
Closing as no action required.

[2021-02-08 15:54] dancesWithCycles opened #224 "transiTime QuickStart | maven build failed"
Hi folks,
I hope this finds you well. Thank you very much for providing this repository. I am wondering if you can please point me in the right direction to build the TransiTime QuickStart.

**Expected functionality**
Running ```mvn install -DskipTests``` on the command line interface of my GNU/Linux Debian 10 should build transiTime.

**Describe the bug**
The mvn build routine failed.

**To Repro

[2021-02-08 16:22] scrudden commented on #224
Hi Stefan,

This closed issue #222 has the resolution.

Cheers,
Sean.

[2021-02-08 16:33] dancesWithCycles commented on #224
Hi Sean,
here is the output running the routine from the root directory of the default repository. It looks different but not satisfying yet. Any idea?
[code]

[2021-02-08 18:13] scrudden commented on #224
Hi Stefan,

The travis build is working so makes me think it is something local to you.

https://travis-ci.org/github/TheTransitClock/transitime.

This "Source option 5 is no longer supported. Use 6 or later." would indicate it is something to do with the java version used. The travis config file should help select the version to use.

https://github.com/TheTransitClock/transitime/blob/develop/.tr

[2021-02-08 19:12] dancesWithCycles commented on #224
Hi Sean,
I agree. It seems to be some local issue. Anyhow, I do not get the complain about source and target option. I do not know anything about Maven. My Debian GNU/Linux is running openJDK 11. I do not know how this is related to either version 1.5, 1.6 or 5, 6. I hope some investigation solves this confusion.
Cheers,
Stefan

[2021-02-08 20:28] scrudden commented on #224
This has the reason for the issue.

http://openjdk.java.net/jeps/182

We can either revert to the older openjdk 8 or we can update the pom.xml files to ensure we are targeting a version supported by openjdk 11.

[2021-02-10 02:30] dancesWithCycles commented on #224
Hi folks,
I hope this finds you well! Today, I added openJDK 8 to my development system, using this [Stack Overflow answer](https://stackoverflow.com/a/59436618), to launch another maven build round. Sadly, it ended again without success. At the moment, I have both JDK's installed: 8 and 11. I do not really want to get rid of 11. Does anyone know if I have to? Do I have to change the Maven configu

[2021-02-10 10:14] scrudden commented on #224
Hi Stefan,

You will need to set the default java for the system to use. This link has some details.

https://mkyong.com/linux/debian-change-default-java-version/

Hope this helps.

Cheers,

Sean.

[2021-02-10 14:26] dancesWithCycles commented on #224
Hi Sean,
thank you so much for your support. Here now follows the summary of what I did to build this project on Debian GNU/Linux 10. The first builds failed due to my existing java version. Currently, the project can not be build with openJDK 11 with the configuration as is in the repository. That is why I installed openJDK 8 and switched the java version that Debian is using the following way.

[2021-02-10 14:26] #224 closed, assigned to nobody

[2021-02-13 20:43] simonberrebi opened #225 "Recording Prediction Error for Travel and Dwell Times Seperately"
Measuring prediction error separately would allow to benchmark how travel and dwell times contribute to prediction errors. This benchmarking could inform the prioritization of new development efforts. The benchmarking could also assess the performance of prediction methods and help identify bugs. Recording prediction errors for constituent parts separately is therefore necessary to guide the devel

[2021-02-13 21:25] scrudden commented on #225
Code on branch tc_issue_225

[2021-02-18 16:20] zabuTNT opened #227 "Change block_id of a trip at runtime"
Hi,
I was wondering if TC contemplates the possibility to change the block_id assigned to one or more trips at runtime, only for the current day.

Let's assume we have this data in the trip.txt of GTFS provided:

[code]

today, due a last minute problem, trip T2 cannot be carried out in block B1, but must be assigned to block B2.

The change is valid only for the current day and it is reasonable t

[2021-02-18 17:04] scrudden commented on #227
Hi Federico,

Thanks for your interest in TheTransitClock.

I do not think this can be changed without restarting core.

You would need to re-import the GTFS file for the specific day, with a new trips.txt file in a specified supplementary directory with the block_id changes for the specific trip_id. This change to block_id is not something I have done before so I will be interested to hear how yo

[2021-02-19 12:54] zabuTNT commented on #227
Hi Sean,
thank you, I looked more in the code about this supplementary directory in order to figure out how to do.
I tried with a trips.txt with the new assignment blockId - tripId, and it seems sufficient for the use case.

![2021-02-19-114514_670x445_scrot](https://user-images.githubusercontent.com/5268372/108504775-b9b20c80-72b6-11eb-8701-4312e7084424.png)

Now I'm working on how automatize thi

[2021-02-19 13:02] scrudden commented on #227
Nice work! I think you may be on a good road. Keep us posted.

[2021-02-19 13:08] scrudden commented on #227
Oh, just to mention there is a new proposed spec called "GTFS Service Changes" that may cover this use case. Might be worth a look.

https://docs.google.com/document/d/1oPfQ6Xvui0g3xiy1pNiyu5cWFLhvrTVyvYsMVKGyGWM/edit

[2021-02-19 13:45] zabuTNT commented on #227
Thank you Sean,
I'll read it for sure.

[2021-02-19 20:38] derhuerst opened #228 "potentially wrong handling of GTFS Time values"
[GTFS Time is not defined relative to midnight, but relative to noon - 12h](https://gist.github.com/derhuerst/574edc94981a21ef0ce90713f1cff7f6). While that makes "writing" GTFS feeds easier, it makes processing a lot harder.

**Expected functionality**

As explained in my [note about GTFS Time values](https://gist.github.com/derhuerst/574edc94981a21ef0ce90713f1cff7f6), with the `Europe/Berlin` tim

[2021-02-21 12:03] scrudden commented on #227
Can this be closed?  I think you have answered the original query.

If you are going to add a new feature it would be good to have it in a separate issue and hopefully with a matching pull request.

[2021-02-22 08:36] zabuTNT commented on #227
Yes, this can be closed.
Thank you.

[2021-02-22 08:36] #227 closed, assigned to nobody

[2021-02-23 16:21] wkulesza opened #229 "ability to load GTFS that contain entries longer than 1024 characters"
**Expected functionality**
Ability to load a GTFS that has entries longer than 1024 characters

**Describe the bug**
When one is trying to load a GTFS that contains an entry with more than 1024 characters (for example a route_desc in routes.txt) TC will start, but will not show any schedule data.

**To Reproduce**
Try using any GTFS that contains a route_desc with more than 1024 characters.

**Scr

[2021-02-23 16:33] scrudden commented on #229
If we remove the length from the annotation it will allow any length.

https://github.com/TheTransitClock/transitime/blob/5347c073752a3c9d66d7837f77ad6b9359a9d9c9/transitclock/src/main/java/org/transitclock/db/structs/Route.java#L89-L90

[2021-03-02 21:59] sheldonabrown commented on #212
Thank you so much for bringing this to my attention @simonberrebi .  You misunderstand the parameter and its intentions -- the parameter merely allows predictions to be generated beyond the configurable time window until the end of the trip is reached.  By extension then, if the issue indeed is as you say, it exists whenever the prediction window exceeds the (remaining) trip length and therefore w

[2021-03-03 12:48] sheldonabrown opened #230 "Upgrade platform to Java 11"
**Is your enhancement request related to a problem? Please describe.**
Java 8 is reaching end of life.  Java 11 is the next big jump (long term support version), and thus TTC should be upgraded to support 11.

**Describe the solution you'd like**
At its simplest, the maven pom file should be configured with:

[code]
The build and tests should still succeed, and the resulting jar files should execu

[2021-03-03 13:00] sheldonabrown opened #231 "Replace DbConfig's globalSession with connection pool"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
Replace error-prone checks to determine if existing Hibernate session is valid.

**Is your enhancement request related to a problem? Please describe.**
TTC self manages its Hibernate sessions leading to durability and resiliency issues should a database connection drop (such as during a database restart).

[2021-03-03 20:32] simonberrebi opened #232 "Loop de Loops"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
Create a parametrization within existing functionalities

**Is your enhancement request related to a problem? Please describe.**
Loop de loops are loops in fixed-routes that confuse TTC on the direction of a vehicle. Loop de loops can cause missing or inaccurate predictions on the entire downstream section

[2021-03-03 20:33] simonberrebi opened #233 "Missing predictions"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
The enhancement may lead to new functionalities and/or bug fixes

**Is your enhancement request related to a problem? Please describe.**
Missing predictions can be an issue for passengers who need to know when the bus will arrive.

**Describe the solution you'd like**
Identify and systematically address in

[2021-03-03 20:34] simonberrebi opened #234 "Addressing the bias in travel time predictions"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
The enhancement will consist in modifying the criteria for filtering input data

**Is your enhancement request related to a problem? Please describe.**
Biases can cause travel time predictions to be systematically optimistic or pessimistic. Ensuring that the median prediction error is close to zero is impo

[2021-03-03 21:00] simonberrebi commented on #212
Thank you for clarifying @Sheldon,

The develop branch of TTC generates predictions beyond the current trip when it is expected to end within the configurable time window. In its current form, the direction comparison ensures that predictions made on subsequent trips are based on the Historical Average method instead of the Kalman Filter. We fully expect that modifying the direction comparison wil

[2021-03-05 20:11] scrudden commented on #205
Solved by pull request #206

[2021-03-05 20:11] #205 closed, assigned to nobody

[2021-03-05 20:15] #76 closed, assigned to nobody

[2021-03-05 20:17] scrudden commented on #28
No response so closing.

[2021-03-05 20:17] #28 closed, assigned to nobody

[2021-03-05 20:19] scrudden commented on #29
No response so closing.

[2021-03-05 20:19] #29 closed, assigned to nobody

[2021-03-05 20:26] scrudden commented on #209
Think the cause is #211.

[2021-03-06 19:13] sheldonabrown commented on #210
https://github.com/TheTransitClock/transitime/pull/235

Added OccupancyStatus support per Camsys's repo

Its not complete per the above, but adds significant support for OccupancyStatus.

[2021-03-12 19:55] simonberrebi opened #236 "A framework to improve dwell time predictions"
# Kalman Filter for Dwell Times
This framework describes the steps to improve dwell time prediction accuracy in TheTransitClock. The assumptions and trade-offs built into the Kalman Filter for Dwell Times introduced in Farhan and Shalaby (2004) are discussed. Relevant studies regarding the impact of these decisions on prediction accuracy are cited.

## Introduction
Predicting the arrival time of t

[2021-03-13 16:44] scrudden commented on #236
Benchmark tool to record the proportion of prediction error that is due to dwell times is implemented in pull request #226.

[2021-03-17 21:01] simonberrebi commented on #225
Based on the new data fields developed by @scrudden, we are now able to record prediction errors for travel and dwell times separately. The following graph shows 12.5 to 87.7 percentiles of dwell and travel prediction errors against the horizon on the MBTA's Route 66 in Boston. We can see that dwell time predictions tend to be overly optimistic whereas travel time predictions are pessimistic. They

[2021-03-24 13:24] scrudden opened #237 "Change reports to view the results of #225"
Change scatter plot,interval graphs and csv export to show dwell and travel time error separately.  This data is generated by #225.

[2021-03-24 18:30] scrudden commented on #230
This requires hibernate to be upgraded as the SchemaGenerator fails if you use 11 as the target.

[2021-03-24 18:58] scrudden commented on #230
Getting a list of classes in a package returns no results using java 11.  Will need to investigate alternative method. This also stops the SchemaGenerator from working.

[2021-03-24 20:38] scrudden commented on #230
Update of guava jar sorted out issue with getting list of classes for a package.

See branch tc_issue_230.

[2021-03-29 14:38] scrudden commented on #230
Version on tc_issue_230 now functioning. Had to change name of columns in join tables which would would require change to existing database instances. Will look at annotation to change the default column name being used.

[2021-03-31 17:57] rbarcham commented on #212
Based on the information you provided, @sheldonabrown was able to resolve the issue. Thanks!

[2021-03-31 17:57] #212 closed, assigned to nobody

[2021-04-12 09:20] wkulesza opened #239 "extend traccar avl module with speed (and heading?) info"
Currently, traccar avl module passes on information about device, lat/lon, date stamp.

It would be handy, if it passed on also speed and heading - it is included in the api response in traccar api.

[2021-04-19 08:35] wkulesza commented on #217
Additionally to this issue, when a vehicle's name is edited in Traccar (i.e. licence plate is used to identify vehicle but it was misstyped), the new name that appears in traccar, should also appear in TC. Old name (or both) appear.

[2021-04-20 17:25] derhuerst commented on #178
#177

[2021-04-21 09:28] derhuerst opened #240 "usage via Docker: API doesn't report any GTFS data"
Hey,

sorry that I don't have a more specific bug report, probably this is just a question on how to use TransitClock properly.

I took your `transitclockDocker` repo [and modified it slightly](https://github.com/derhuerst/thetransitclock-docker/tree/4f04c54d4494ee6fc2a0f079ee965a67e8e1d026) in order to:

- adapt the setup to the [city of Herrenberg](https://en.wikipedia.org/wiki/Herrenberg), wher

[2021-05-25 11:33] wkulesza commented on #219
Is that feature something that could be worked on and GoEuropa could co-sponsor this?
Is that something that is already done in the new UI?

[2021-05-25 11:35] wkulesza commented on #219
The drill down to trip list could be handy also for reports on schedule adherence. Currently reports gives a % of early/on time/late trips but there's no knowledge on which trips were which.

[2021-06-19 17:19] vsperez opened #241 "Problems in the shape of the routes after importig GTFS"
**Expected functionality**
The routes should be the same as the GTFS file.

**Describe the bug**
In some case, the construction of the shape results with unexpected segment from the polyline to the busstop.

**To Reproduce**
Import specific GTFS.

[2021-06-19 19:40] vsperez commented on #241
This ocurres while the algorithm is searching  the location on the busstop along the shape. When the best match is not found or the best match skips the correct location.

The fixing, in all the cases, is using the ShapeDistanceTraveled  of GTFS. If it is not provided, the parameter maxDistanceBetweenStops should be carefully selected in order to avoid the cause.

[2021-06-24 07:32] wkulesza opened #243 "AVL Reports don't display tiles because of Mapbox terms&conditions"
**Expected functionality**
Each generated AVL reports should show vehicle positions over time on map.

**Describe the bug**
As map tiles are served by Mapbox, which is a paid service, map is not visible in the reports, with error in console:
[code]

[2021-06-24 08:00] wkulesza opened #244 "Add vehicle id labels and on/off toggle for vehicle labels in schedule adherence map"
**Description of feature:**
We're working on adding a label for each vehicle represented in the schedule adherence map (that shows all vehicles that are ahead or behind schedule), so that dispatcher knows (without having to click on each "bubble").
A "toggle vehicle labels" checkbox (enabled by default) allows to show/hide vehicle labels
All "bubbles" on schedule adherence map show all vehicle ids

[2021-06-24 18:28] wkulesza commented on #243
Just to confirm, this code change does work and could be the solution:
[https://github.com/camsys/transitime/commit/2b40bdbf067d1e0bf1940abfdfa6ac2f064ef15f](https://github.com/camsys/transitime/commit/2b40bdbf067d1e0bf1940abfdfa6ac2f064ef15f)

Would be better to allow this to be configurable though - to allow user to select which tile provider he prefers (if. mapbox, than token needs to be provid

[2021-09-01 10:10] wkulesza commented on #239
Now the traccar module passes that info, but there are differences:
traccar (and traccar api) say 60km/h, at the same time transitclock says 120km/h and when checking the gtfs-rt vehicle positions api in transitclock, it says speed: 35., so everything seems to be divided by two (the avl log also seems to display the same value as gtfs-rt vp produced by transitclock, so 35).

edit: 35 is in m/s, bu

[2021-09-18 20:48] wkulesza opened #246 "Updated GTFS (stop changed) updates the Schedule Report but doesn't update Maps"
**Expected functionality**
Loading a new, updated GTFS that replaces a previously wrong stop in the stop sequence should draw the shape correctly.

**Describe the bug**
Eventhough the GTFS is updated, and reports/schedule shows the correct stop, the maps in the transitclock still show the old, wrong stop.

**To Reproduce**
Using Transitclock docker to start the docker, then update GTFS (changing t

[2021-11-12 21:48] rbarcham opened #247 "Potential shift from trip_id to stop path for historical travel times lookup"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
Yes, potential to enhance/replace current understanding of historical travel times on a trip basis.

**Is your enhancement request related to a problem? Please describe.**
Historical travel times based on trip_id are brittle to changes in trip_id - there are implications not only for inconsistent GTFS, but

[2021-11-15 12:15] wkulesza opened #248 "predictions not available for all stops en-route of a longer trip"
**Expected functionality**
When a trip is assigned and prediction is available - predictions should be available for all stops en-route of that trip

**Describe the bug**
At a given time, trip has predictions up to a given stop and following stops have no predictions. As the bus is travelling, this seems to update itself gradually.

**To Reproduce**
Use a GTFS with trips that are long - like 2 hou

[2021-11-17 12:27] scrudden commented on #248
You can set how far forward into the future you wish to generate predictions.

https://github.com/TheTransitClock/transitime/blob/f32ad8dc40e683ee7c945388c74de504f63ee607/transitclock/src/main/java/org/transitclock/core/PredictionGeneratorDefaultImpl.java#L76-L80

[2021-11-18 11:43] wkulesza commented on #248
I tried adding this to import_gtfs.sh:
[code]
but got:
[code]

[2021-11-18 16:26] scrudden commented on #248
This property is used by core rather than by the GTFS file processor. I would normally add this to the property file like

[code]

[2021-11-18 19:46] wkulesza commented on #248
ok it helps - actually it reads already:
transitclock.core.maxPredictionTimeForDbSecs=1200
transitclock.core.maxPredictionsTimeSecs=1800

so i changed 1800 to 7200 and finally can see predictions to 60 minutes.

[2021-11-22 15:13] scrudden commented on #248
@wkulesza Can this be closed?

[2021-11-22 15:15] wkulesza commented on #248
yes, lets close.
good to add that to readme in tc github

pon., 22 lis 2021 o 16:13 Sean Óg Crudden ***@***.***>
napisał(a):

--
Wojciech Kulesza

Właściciel / Owner

goEuropa Polska Wojciech Kulesza
+48616248682
***@***.***
www.goeuropa.eu
ul. 28 Czerwca 1956r nr 400
Kiedy przyjedzie autobus? Sprawdż na www.kiedybus.pl
<https://www.kiedybus.pl/>

[2021-11-22 16:07] #248 closed, assigned to nobody

[2021-11-29 11:37] BodoMinea opened #250 "Cannot build because of moved dependency repo"
**Expected functionality**
Being able to build the project with `mvn install -DskipTests` after cloning from GitHub.

**Describe the bug**
The build fails with the following message:
`[ERROR] Failed to execute goal on project transitclockCore: Could not resolve dependencies for project TheTransitClock:transitclockCore:jar:2.0.0-SNAPSHOT: Failed to collect dependencies at com.simontuffs:one-jar-boo

[2021-11-29 11:48] scrudden commented on #250
Thanks, I will merge the pull request.

[2021-11-29 13:37] BodoMinea opened #251 "java.lang.NullPointerException: null at org.transitclock.gtfs.DbConfig.getStopIdsForRoute - core startup failure"
Hi everyone,

I am trying to launch my second deployment of TheTransitClock. The first one I managed to get running last year and is still working properly. However, by following the same steps I am now running into some problems that I haven't been able to diagnose.

**Expected functionality**
After going through the „full” deployment process for system - installing Ubuntu Server with Java 1.8, M

[2021-11-29 13:43] BodoMinea commented on #250
Okay, this is solved. Thanks!

[2021-11-29 13:43] #250 closed, assigned to nobody

[2021-11-30 23:09] BodoMinea commented on #251
New findings:

RMI Queries to the cores are actually working, I didn't have a hibernate config in the working directory (for the cores and Tomcat it's configured in env vars/cmd line params).
`Predictions for agencyId=1 [0.00000, 0.00000] are:`

From the comparison of log files between the server that works and the one that doesn't I could only find the following difference.

**catalina.out - serv

[2021-11-30 23:52] BodoMinea commented on #251
I seemingly finally found a stacktrace which seems to have also been encountered by another user on the other repo https://github.com/Transitime/core/issues/29 ...

[code]

And this causes a later

[code]
So for some reason it crashes here - https://github.com/TheTransitClock/transitime/blob/05ca94eeb7121d84f1c7958e8ed6c25bce4caea7/transitclockApi/src/main/java/org/transitclock/api/rootResources/T

[2021-12-01 00:57] BodoMinea commented on #251
I also found that some API endpoints work, apparently the ones that do not directly use GTFS data...?

For example `http://127.0.0.1:8080/api/v1/key/KEY/agency/AGENCY/command/vehicles` works for all agencies.

[2021-12-01 01:44] BodoMinea commented on #251
I may have found something peculiar...

On the installation that doesn't work properly, I ran `SELECT * FROM ActiveRevisions` and got this:
[code]
If I look at the imported data, I can see the configRev being 0. Could this mean that the import script somehow silently failed although I Can see the data in the tables? (I looked at the server that is working and the activeRevision for that correspond

[2021-12-01 02:11] BodoMinea commented on #251
Weird, looks like the GtfsFileProcessor.jar finishes successfully, but on an emptied database I still get the activeRevision set to -1 after the first import.

[code]

The NullPointer error that prevents the cores from starting persists. I tried selecting for NULL agencyIds and stopIds with no luck, all result sets are empty.

[2021-12-01 16:41] BodoMinea commented on #251
Looks like the final issue boils down to `java.lang.NullPointerException: null at org.transitclock.gtfs.DbConfig.getStopIdsForRoute`. Although my GTFS file is valid according to the transitfeed validator and the import reports no errors, warnings or stacktraces, for whatever reason a NULL pointer is breaking this line - https://github.com/TheTransitClock/transitime/blob/05ca94eeb7121d84f1c7958e8ed

[2021-12-01 17:36] BodoMinea commented on #251
For now I solved my issue by adding in the following „bodge”:
[code]
„Something went wrong” appeared once during core startup but otherwise the app works fine. I tried enablign SQL logging and manually executing queries to find if something NULL is coming from the database but there were far too many queries. The obvious ones yielded zero null results.

Since something may have been wrong with my

[2021-12-01 17:36] #251 closed, assigned to nobody

[2021-12-04 20:28] BodoMinea opened #252 "What's your approach on managing database size (disk usage)?"
Not necessarily an issue but the two instances I am running use up a lot of database space due to historical AVL records.

Is there some mechanism to get transitime to clean its own old data?

Or should I just write my own cron to delete older data? If this manual approach is the way to go, I am curious if I should first shut down the core or it shouldn't really matter and what would be your advic

[2021-12-17 11:17] scrudden commented on #252
Hi,

The records in the database are not used for predictions except for ArrivalsDepartures which can be used to to populate the cache for the Kalman prediction method.

You can configure core not to record any data to the database if you do not wish to keep it.

I would keep avlreports and  arrivalsdepartures. The other tables relating to vehicle states/events could be cleaned down. I would keep

[2021-12-17 11:18] scrudden commented on #252
You can do this type of thing while core is running.

[2021-12-19 15:44] BodoMinea commented on #252
Thank you! That's all I needed to know :)

[2021-12-19 15:44] #252 closed, assigned to nobody

[2022-02-03 11:28] wkulesza opened #253 "Cancelling a trip using API causes the trip to be re-assigned after less then minute"
**Expected functionality**
Cancelling a trip using API command (cancelTrip) should allow to cancel an assigned trip and not cause autoassigner to autoassign it after 1 minute.
api/doc.html#/command/cancelTrip

**Describe the bug**
After cancelling a trip using api method, after less then a minute, this trip will get re-assigned

**To Reproduce**
Use api/doc.html#/command/cancelTrip to cancel trip.

[2022-02-17 13:36] wkulesza opened #254 "show route in both directions in AVL report"
**Expected functionality**
When viewing AVL reports, it would be handy to display routes in both directions. Similarly as in maps view, each route is printed in both directions.

**Describe the bug**
Currently, when you open an AVL report and select a route and generate report, you can see markers of vehicle but also stops and shape for one direction. Agencies use this feature to indicate to passe

[2022-03-12 15:37] derhuerst commented on #128
Is this a duplicate of #236?

[2022-03-14 13:41] scrudden commented on #128
Yes.

[2022-03-14 13:41] #128 closed, assigned to nobody

[2022-05-09 07:48] wkulesza opened #256 "Schedule adherence reports shows incorrect info"
**Expected functionality**
When requesting report on schedule adherence for trips/blocks from a given trip, report should show true information.

**Describe the bug**
We extended schedule adherence reports and we have the ability to identify trips/blocks that were early/late, as opossed to only show % bar of early/late. Reports indicate that a given trip was early leaving 1st stop, while comparing

[2022-05-09 07:59] wkulesza commented on #256
Additonal information would include info that there's two different routes leaving that first stop, but since we're joining trips through blocks so transitclock should "know" which bus is on which next trip, while it's waiting for start of trip on the bus terminus.

[2022-05-12 10:55] scrudden commented on #256
You would need to look at the matching for this bus and if it matched incorrectly too early. If so, this would indicate some configuration parameter changes should help.

[2022-05-17 07:04] wkulesza commented on #256
@scrudden So the case is the following:
bus reaches final stop on its trip (stop-id is unique). After all passengers dissembark, bus moves to a given bus platform (stop id is different than the last one)  and straight away it is matched to the next trip (TC then says in matching that bus departed early), while in fact the trip only starts in some 10-15 mins.
End result is - majority of 1st departu

[2022-06-03 20:57] wkulesza commented on #256
Please mark as solved. This turned out to be a problem with location of departure stop. it was set in a wrong spot, which caused TC to show departure from stop, while in fact, bus was only moving to departure platform.

[2022-06-03 20:58] #256 closed, assigned to nobody

[2022-06-03 20:59] wkulesza opened #257 "Modification to Map display with route selection"
Two ideas for this feature:
- ability to select all routes to be displayed (currently, user can select just one route from the dropdown)
- use color from route_color and route_text_color from routes.txt to display the path of route on the map view.

[2022-07-04 21:21] darlene898 opened #258 "Cooking/Dogs/Jenson Owner"
**Is your enhancement request to replace an existing functionality within TheTransitClock?**
If the functionality already exists, please provide a clear description of its current behavior.

**Is your enhancement request related to a problem? Please describe.**
A clear description of what the problem is.

**Describe the solution you'd like**
A clear description of the expected functionality.

**De

[2022-07-04 21:22] darlene898 commented on #258
Surgery/Cancer/ Dr Abdul

[2022-07-05 22:40] #258 closed, assigned to nobody

[2022-09-24 16:37] wkulesza commented on #46
Does Traccar integration work also with https rather than http ?
From [https://www.traccar.org/secure-connection/](url) they say we should use ws:// rather than https ?

[2022-10-13 20:19] BodoMinea opened #259 "Useless ScheduleGenerator output, no more arrivalDeparture data being logged"
Hello,

While my Transitime instance that's outputting data for a pretty big transit network is working fine (GTFS-RT and SIRI API data is accurate and up to date, avlReports are being read in and saved to database, web interface working etc.), I found something a bit weird when I tried running the ScheduleGenerator for a recent period of time in order to get more accurate static GTFS trip times.